@charset "UTF-8";
/* ANIMATION TYPE 
------------------------------------- */ 
.hoverzoom {
  -webkit-transition: transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.hoverzoom:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.fadeIn-Scene {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  opacity: 1;
}
/* KEY FRAMES
---------------------------------- */
/* fade-in */
@-webkit-keyframes fadeIn-Scene {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn-Scene {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes text-fadeIn {
  from {
    opacity: 0;
  }
  60%{ 
    opacity: 0;
   }
  75%{ 
    opacity: 1;
   }
  to {
    opacity: 1;
  }
}

@keyframes text-fadeIn {
  from {
    opacity: 0;
  }
  60%{ 
    opacity: 0;
   }
  75%{ 
    opacity: 1;
   }
  to {
    opacity: 1;
  }
}


@-webkit-keyframes text-fadeOut {
  from {
    opacity: 1;
  }
  0%{ 
    opacity: 1;
   }
  25%{ 
    opacity: 0;
   }
  to {
    opacity: 0;
  }
}
@keyframes text-fadeOut {
  from {
    opacity: 1;
  }
  0%{ 
    opacity: 1;
   }
  25%{ 
    opacity: 0;
   }
  to {
    opacity: 0;
  }

}
/* bounceIn */
@-webkit-keyframes startflower-bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
   
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
   
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes startflower-bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
   
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
  
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes logo-bounceIn {
  from, 0%, 20%, 40%, 50%, 60%, to{
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.25, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.25, 1.000);
     -webkit-transform-origin: center;
    transform-origin: center;

  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) rotate3d(0, 0, 1, -200deg);
    transform: scale3d(.1, .1, .1) rotate3d(0, 0, 1, -200deg);
  }

  20% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  60% {
    -webkit-transform: scale3d(.85, .85, .85);
    transform: scale3d(.85, .85, .85);
  }
  


  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes logo-bounceIn {
  from, 0%, 20%, 40%, 50%, 60%, to{
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.25, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.25, 1.000);
     -webkit-transform-origin: center;
    transform-origin: center;

  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) rotate3d(0, 0, 1, -200deg);
    transform: scale3d(.1, .1, .1) rotate3d(0, 0, 1, -200deg);
  }

  20% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  60% {
    -webkit-transform: scale3d(.85, .85, .85);
    transform: scale3d(.85, .85, .85);
  }
  
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
  }
}

@-webkit-keyframes d10-bounceIn {
  from, 0%, 50%, 60%, 70%, 80%, 90%, to{
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.25, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.25, 1.000);
     -webkit-transform-origin: center;
    transform-origin: center;
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) rotate3d(0, 0, 1, -200deg);
    transform: scale3d(.1, .1, .1) rotate3d(0, 0, 1, -200deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) rotate3d(0, 0, 1, -200deg);
    transform: scale3d(.1, .1, .1) rotate3d(0, 0, 1, -200deg);
  }
  60% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }
  70% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  90% {
    -webkit-transform: scale3d(.85, .85, .85);
    transform: scale3d(.85, .85, .85);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes d10-bounceIn {
  from, 0%, 60%, 66%, 72%, 78%, 84%, 90%, to{
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.25, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.25, 1.000);
     -webkit-transform-origin: center;
    transform-origin: center;
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) rotate3d(0, 0, 1, -200deg);
    transform: scale3d(.1, .1, .1) rotate3d(0, 0, 1, -200deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) rotate3d(0, 0, 1, -200deg);
    transform: scale3d(.1, .1, .1) rotate3d(0, 0, 1, -200deg);
  }
  57% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }
  64% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  71% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  78% {
    -webkit-transform: scale3d(.85, .85, .85);
    transform: scale3d(.85, .85, .85);
  }
  85% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
  }
}


/* bounceInUp */
@-webkit-keyframes d5-bounceInUp {
  from, 40%, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
 
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  30% { 

    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes d5-bounceInUp {
  from, 40%, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
 
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  30% { 

    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes startflower-bounceInUp {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 110% 0);
    transform: translate3d(0, 110%, 0);
  }

  77% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  86% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to { 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes startflower-bounceInUp {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 110% 0);
    transform: translate3d(0, 110%, 0);
  }

  77% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  86% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to { 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}
@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* slideInRight */
@-webkit-keyframes d4-slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  50% { 
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes d4-slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  50% { 
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* slideInLeft */
@-webkit-keyframes d1-slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  50% { 
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes d1-slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  50% { 
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes d11-slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  50% { 
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes d11-slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  50% { 
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes d11-slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  20% { 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% { 
    -webkit-transform: translate3d(-105%, 0, 0);
    transform: translate3d(-105%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-105%, 0, 0);
    transform: translate3d(-105%, 0, 0);
  }
}
@keyframes d11-slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  20% { 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% { 
    -webkit-transform: translate3d(-105%, 0, 0);
    transform: translate3d(-105%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-105%, 0, 0);
    transform: translate3d(-105%, 0, 0);
  }
}
/* zoomIn */
@-webkit-keyframes logo-zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes logo-zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
@-webkit-keyframes startflower-zoomIn {
  80% {
    opacity: 0;
    -webkit-transform: scale3d(.35, .35, .35);
    transform: scale3d(.35, .35, .35);
  }
  100%{ 
    opacity: 1;
   }
}

@keyframes startflower-zoomIn {
  80% {
    opacity: 0;
    -webkit-transform: scale3d(.35, .35, .35);
    transform: scale3d(.35, .35, .35);
  }
  100%{ 
    opacity: 1;
   }
}

/* fadeIn */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* bounceInDown */
@-webkit-keyframes d2-bounceInDown {
  from{ 

    -webkit-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }
  60% {
  
    -webkit-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }

  70% {
    
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  80% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes d2-bounceInDown {
  from{ 

    -webkit-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }
  60% {
  
    -webkit-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }

  70% {
    
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  80% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes gender-bounceInDown {
  from, 40%, 60%, 80%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  from{ 
    opacity: 0;
    -webkit-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }

  60% {
     visibility: visible;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  80% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes gender-bounceInDown {
  from, 40%, 60%, 80%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  from{ 
    opacity: 0;
    -webkit-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }

  60% {
     visibility: visible;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  80% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
/* rotateIn */
@-webkit-keyframes logo-rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes logo-rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
/* rotateInUpLeft */
@-webkit-keyframes d9-rotateInUpLeft {
  from {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 120deg);
    transform: rotate3d(0, 0, 1, 120deg);
    opacity: 0;
  }
  40%{ 
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 120deg);
    transform: rotate3d(0, 0, 1, 120deg);
    opacity: 0;
   }
  to {
    -webkit-transform-origin: left top;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes d9-rotateInUpLeft {
  from {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 120deg);
    transform: rotate3d(0, 0, 1, 120deg);
    opacity: 0;
  }
  40%{ 
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 120deg);
    transform: rotate3d(0, 0, 1, 120deg);
    opacity: 0;
   }
  to {
    -webkit-transform-origin: left top;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes shakeLeft{ 
  from { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
   }
  25% { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
   }
  50% { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
   }
  75% { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 10deg);
    transform: rotate3d(0, 0, 1, 10deg);
   }
  to{ 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    }
 }
@keyframes shakeLeft{ 
  from { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
   }
  25% { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
   }
  50% { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
   }
  75% { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 10deg);
    transform: rotate3d(0, 0, 1, 10deg);
   }
  to{ 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    }
 }
 @-webkit-keyframes shakeRight{ 
  from { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
   }
  25% { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 10deg);
    transform: rotate3d(0, 0, 1, 10deg);
   }
  50% { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
   }
  75% { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
   }
  to{ 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    }

 }
@keyframes shakeRight{ 
  from { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
   }
  25% { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 10deg);
    transform: rotate3d(0, 0, 1, 10deg);
   }
  50% { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
   }
  75% { 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
   }
  to{ 
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    }
 }
@-webkit-keyframes grow{ 
  from{ 
    width: 0vw;
   }
   to{ 
    width: 56vw;
    }
}
@keyframes grow{ 
  from{ 
    width: 0vw;
   }
   to{ 
    width: 56vw;
    }
}

@keyframes loadingTroll-bounceInUp {
  from, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes poster-bounceInDown {
  from, 40%, 60%, 80%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  from{ 

    -webkit-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }
  40% {

    -webkit-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }

  60% {

    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  80% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes poster-bounceInDown {
  from, 40%, 60%, 80%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  from{ 

    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  50%{ 
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
   }
  60% {

    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  70% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  80% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  90%{ 
    -webkit-transform: none;
    transform: none;
   }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
/**/
@-webkit-keyframes podVineSet1-bounceInDown {
  from, 40%, 60%, 80%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  from{ 

    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  30% {

    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  60% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes podVineSet1-bounceInDown {
  from, 40%, 60%, 80%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  from{ 

    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  30% {

    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  60% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
/**/
@-webkit-keyframes podVines-bounceOutUp {
  from, 40%, 60%, 80%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  from{ 

    -webkit-transform: none;
    transform: none;
  }

  30% {

   -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  60% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes podVines-bounceOutUp {
  from, 40%, 60%, 80%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  from{ 

    -webkit-transform: none;
    transform: none;
  }

  30% {

   -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  60% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
/**/
@-webkit-keyframes podVineSet2-bounceInDown {
  from, 50%, 60%, 70%, 80%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  from{ 

    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  50%{ 
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
   }
  60% {

    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  70% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  80% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  90%{ 
    -webkit-transform: none;
    transform: none;
   }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes podVineSet2-bounceInDown {
  from, 50%, 60%, 70%, 80%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  from{ 

    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  50%{ 
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
   }
  60% {

    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  70% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  80% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  90%{ 
    -webkit-transform: none;
    transform: none;
   }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
/**/
@-webkit-keyframes bobbleUp{ 
  from { 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50%{ 
        -webkit-transform: translate3d(0, -2%, 0);
    transform: translate3d(0, -2%, 0);
  }
  to { 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bobbleUp{ 
  from { 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50%{ 
        -webkit-transform: translate3d(0, -2%, 0);
    transform: translate3d(0, -2%, 0);
  }
  to { 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bobbleUpReverse{ 
  from { 
        -webkit-transform: translate3d(0, -2%, 0);
    transform: translate3d(0, -2%, 0);
  }
  50%{ 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to { 
    -webkit-transform: translate3d(0, -2%, 0);
    transform: translate3d(0, -2%, 0);
  }
}
@keyframes bobbleUpReverse{ 
  from { 
        -webkit-transform: translate3d(0, -2%, 0);
    transform: translate3d(0, -2%, 0);
  }
  50%{ 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to { 
    -webkit-transform: translate3d(0, -2%, 0);
    transform: translate3d(0, -2%, 0);
  }
}
@-webkit-keyframes bobbleDown{ 
  from{ 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25%{ 
        -webkit-transform: translate3d(0, -2%, 0);
    transform: translate3d(0, -2%, 0);
  }
  50%{ 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  75%{ 
        -webkit-transform: translate3d(0, -2%, 0);
    transform: translate3d(0, -2%, 0);
  }
  to{ 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bobbleDown{ 
  from{ 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25%{ 
        -webkit-transform: translate3d(0, -3%, 0);
    transform: translate3d(0, -3%, 0);
  }
  50%{ 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  75%{ 
        -webkit-transform: translate3d(0, -3%, 0);
    transform: translate3d(0, -3%, 0);
  }
  to{ 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}