/* DURATIONS
--------------------------------- */ 
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#first-screen #step-forward{ 
	-webkit-animation: navigation-slideInLeft 0.4s;
	animation: navigation-slideInLeft 0.4s;
 }

.exit#step-forward{ 
	-webkit-animation: navigation-slideOutRight 0.4s;
	animation: navigation-slideOutRight 0.4s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
 }
.force-exit#step-forward{ 
	-webkit-animation: navigation-slideOutRight 0.4s !important;
	animation: navigation-slideOutRight 0.4s !important;
    -webkit-transform: translate3d(100%, 0, 0) !important;
    transform: translate3d(100%, 0, 0) !important;
 }
.exit#step-backward{ 
	-webkit-animation: navigation-slideOutLeft 0.4s;
	animation: navigation-slideOutLeft 0.4s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
.force-exit#step-backward{ 
	-webkit-animation: navigation-slideOutLeft 0.4s !important;
	animation: navigation-slideOutLeft 0.4s !important;
    -webkit-transform: translate3d(-100%, 0, 0) !important;
    transform: translate3d(-100%, 0, 0) !important;
  }
.enter#step-forward{ 
	-webkit-animation: navigation-slideInRight 0.4s;
	animation: navigation-slideInRight 0.4s;
	 -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
 }
.enter#step-backward{ 
	-webkit-animation: navigation-slideInLeft 0.4s;
	animation: navigation-slideInLeft 0.4s;
	    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
/* FIRST SCREEN 
--------------------------------- */
#loading-text.exit{
	-webkit-animation: loading-bounceOutUp 2s;
	animation: loading-bounceOutUp 2s;	
}
#assets-loaded.exit{ 
	-webkit-animation: loadingTroll-bounceOutDown 2s;
	animation: loadingTroll-bounceOutDown 2s;
}
#logo{ 
	-webkit-animation: logo-bounceIn 1.4s;
	animation: logo-bounceIn 1.4s;
}
.exit #logo{ 
	-webkit-animation: slideOutUp_70pc 1.5s;
	animation: slideOutUp_70pc 1.5s;
}
/* Girl Troll */ 
#display-item-1{  
	-webkit-animation: d1-slideInLeft 1.6s cubic-bezier(0.175, 0.885, 0.220, 1);
	animation: d1-slideInLeft 1.6s cubic-bezier(0.175, 0.885, 0.220, 1);
}
.exit #display-item-1{ 
	-webkit-animation: slideOutLeft_60pc 1.5s;
	animation: slideOutLeft_60pc 1.5s;
}
/* Fern */ 
#display-item-5{  
	-webkit-animation: d5-bounceInUp 0.75s cubic-bezier(0.175, 0.885, 0.220, 1);
	animation: d5-bounceInUp 0.75s cubic-bezier(0.175, 0.885, 0.220, 1);
}
.exit #display-item-5{ 
	-webkit-animation: slideOutRight_60pc 1.5s;
	animation: slideOutRight_60pc 1.5s;
}
/* Boy Troll */
#display-item-4{  
	-webkit-animation: d4-slideInRight 1.6s cubic-bezier(0.175, 0.885, 0.220, 1); 
	animation: d4-slideInRight 1.6s cubic-bezier(0.175, 0.885, 0.220, 1);
}
.exit #display-item-4{ 
	-webkit-animation: slideOutRight_60pc 1.5s;
	animation: slideOutRight_60pc 1.5s;
}
/* Twin Troll Shadow */ 
#display-item-3{  
	-webkit-animation: fadeIn 4s;
	animation: fadeIn 4s;
}
.exit #display-item-3{ 
	-webkit-animation: fadeOut_25pc 1.5s;
	animation: fadeOut_25pc 1.5s;
}
/* Twin Trolls */
#display-item-2{  
	-webkit-animation: d2-bounceInDown 2.5s;
	animation: d2-bounceInDown 2.5s;
	    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.exit #display-item-2{ 
	-webkit-animation: slideOutUp_45pc 1.5s;
	animation: slideOutUp_45pc 1.5s;
}
#start-button{ 
	-webkit-animation: startflower-bounceInUp 3.3s;
	animation: startflower-bounceInUp 3.3s;
}
#start-button-flower{ 
	-webkit-animation: startflower-zoomIn 3.5s;
	animation: startflower-zoomIn 3.5s;
}
.exit #start-button{ 
	-webkit-animation: slideOutDown_20pc 1.5s;
	animation: slideOutDown_20pc 1.5s;
 }


/* WELCOME SCREEN 
--------------------------------- */
/*#display-item-{ 
	-webkit-animation: ;
	animation: ;
}*/

/* Middle Fern */
#display-item-7{ 
	-webkit-animation: bounceInUp .85s;
	animation: bounceInUp .85s;
}
.exit #display-item-7{ 
	-webkit-animation: slideOutLeft_70pc 1.5s;
	animation: slideOutLeft_70pc 1.5s;		
}
/* Front Fern */
#display-item-6{ 
	-webkit-animation: bounceInUp 1.1s;
	animation: bounceInUp 1.1s;
}
.exit #display-item-6{ 
	-webkit-animation: slideOutLeft_70pc 1.5s;
	animation: slideOutLeft_70pc 1.5s;		
}
/* Rear Fern */
#display-item-8{ 
	-webkit-animation: bounceInUp 1.3s;
	animation: bounceInUp 1.3s;
}
.exit #display-item-8{ 
	-webkit-animation: slideOutLeft_70pc 1.5s;
	animation: slideOutLeft_70pc 1.5s;		
}
/* Girl Troll */
#display-item-9 { 
	-webkit-animation: d9-rotateInUpLeft 1.9s;
	animation: d9-rotateInUpLeft 1.9s;
}
.exit #display-item-9{ 
	-webkit-animation: slideOutLeft_60pc 1.5s;
	animation: slideOutLeft_60pc 1.5s;	
}
/* Pop Up */
#display-item-10{ 
	-webkit-animation: d10-bounceIn 3s;
	animation: d10-bounceIn 3s; 
}
.exit #display-item-10{ 
	-webkit-animation: slideOutUp_45pc 1.5s;
	animation: slideOutUp_45pc 1.5s;
}
#display-item-10 h1{ 
	-webkit-animation: text-fadeIn 4.4s;
	animation: text-fadeIn 4.4s; 
 }
#display-item-10 p{ 
	-webkit-animation: text-fadeIn 5s;
	animation: text-fadeIn 5s;
 }
#display-item-20,
#flower-head-1, 
#flower-head-10{
	-webkit-animation: shakeRight .9s ease-in-out infinite;
	animation: shakeRight .9s ease-in-out infinite;
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#display-item-21, 
#flower-head-2, 
#flower-head-11{
	-webkit-animation: shakeLeft .9s ease-in-out infinite;
	animation: shakeLeft .9s ease-in-out infinite;
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#flower-head-3, 
#flower-head-12{
	-webkit-animation: shakeRight .9s ease-in-out infinite;
	animation: shakeRight .9s ease-in-out infinite;
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#flower-head-4,
#flower-head-13{
	-webkit-animation: shakeLeft .9s ease-in-out infinite;
	animation: shakeLeft .9s ease-in-out infinite;
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

/* GENDER SELECTION SCREEN 
--------------------------------- */
#girl{ 
	-webkit-animation: fadeIn .85s;
	animation: fadeIn .85s;
}
#boy{ 
	-webkit-animation: fadeIn .85s;
	animation: fadeIn .85s;
}
#girl .bg-display-item{ 
	-webkit-animation-name: gender-bounceInDown;
	animation-name: gender-bounceInDown;
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
}

#boy .bg-display-item{ 
	-webkit-animation-name: gender-bounceInDown;
	animation-name: gender-bounceInDown;
	-webkit-animation-duration: 1.85s;
	animation-duration: 1.85s;
}
#display-item-11{ 
	-webkit-animation: d11-slideInLeft 2.3s;
	animation: d11-slideInLeft 2.3s;
}
#growing-speech-bubble{ 
	-webkit-animation: text-fadeIn 3.3s;
	animation: text-fadeIn 3.3s;
}
#growing-speech-bubble .center{
	-webkit-animation: grow .75s;
	animation: grow .75s;
 	-webkit-animation-delay: 2.1s;
	animation-delay: 2.1s;
}
#growing-speech-bubble p{ 
	-webkit-animation: text-fadeIn 4.9s;
	animation: text-fadeIn 4.9s;
}
.exit #girl .bg-display-item{ 
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	 -webkit-transform: translate3d(0, -110%, 0);
    transform: translate3d(0, -110%, 0);
}
.exit #boy .bg-display-item{
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	 -webkit-transform: translate3d(0, -110%, 0);
    transform: translate3d(0, -110%, 0);
}
.exit #boy .glow{ 
	opacity: 0;
	transform: scale(0);
}
.exit #girl .glow{ 
	opacity: 0;
	transform: scale(0);
}
.exit #display-item-11{ 
	-webkit-animation: d11-slideOutLeft 2s;
	animation: d11-slideOutLeft 2s;
}
.exit #growing-speech-bubble{ 
	-webkit-animation: text-fadeOut 2s;
	animation: text-fadeOut 2s;
}
.exit #girl{ 
	-webkit-animation: fadeOut_50pc 2s;
	animation: fadeOut_50pc 2s;
}
.exit #boy{ 
	-webkit-animation: fadeOut_50pc 2s;
	animation: fadeOut_50pc 2s;
}
/* OPTION SLIDES
----------------------- */
#display-item-18{ 
	-webkit-animation: bobbleUp 1.3s ease-in-out infinite;
	animation: bobbleUp 1.3s ease-in-out infinite;
/*	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;*/
}
#display-item-19{ 
	-webkit-animation: bobbleUpReverse 1.3s ease-in-out infinite;
	animation: bobbleUpReverse 1.3s ease-in-out infinite;
/*	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;*/
}

#asset-display-zone{ 
	-webkit-animation: gender-bounceInDown 1.15s;
	animation: gender-bounceInDown 1.15s;
 }
 /* Fern Bottom Left */
 #display-item-13{ 
 	-webkit-animation: navigation-slideInLeft 0.8s;
 	animation: navigation-slideInLeft 0.8s;
 }
 .exit #display-item-13{ 
 	-webkit-animation: navigation-slideOutLeft 1.5s;
 	animation: navigation-slideOutLeft 1.5s;
 }
 /* Fern Bottom Right */
 #display-item-14{ 
 	-webkit-animation: navigation-slideInRight 0.8s;
 	animation: navigation-slideInRight 0.8s;
 }
 .exit #display-item-14{ 
 	-webkit-animation: navigation-slideOutRight 1.5s !important;
 	animation: navigation-slideOutRight 1.5s !important;
 }
 .exit#asset-display-zone{ 
 	-webkit-animation: assetZone1-bounceOutUp 1.5s;
 	animation: assetZone1-bounceOutUp 1.5s;
}
 .exit.linger#asset-display-zone{ 
 	-webkit-animation: assetZone2-bounceOutUp 1.5s;
 	animation: assetZone2-bounceOutUp 1.5s;
}
#display-item-27, 
#display-item-28{ 
		-webkit-animation: podVineSet1-bounceInDown 0.85s;
	animation: podVineSet1-bounceInDown 0.85s;
}
.pod-asset.vines.set-2{ 
		-webkit-animation: podVineSet2-bounceInDown 2.4s;
	animation: podVineSet2-bounceInDown 2.4s;
}
.exit #display-item-27, 
.exit #display-item-28,
.exit.pod-asset.vines.set-2{ 
		-webkit-animation: podVines-bounceOutUp 1.5s !important;
	animation: podVines-bounceOutUp 1.5s !important;
}
/* Individual Vines in pod-asset.vines.set-2 */
#display-item-29, 
#display-item-31, 
#display-item-33{
	-webkit-animation-name: bobbleUp;
	animation-name: bobbleUp;
	-webkit-animation-duration: 7s;
	animation-duration: 7s;
} 
#display-item-30, 
#display-item-32{
	-webkit-animation-name: bobbleDown;
	animation-name: bobbleDown;
	-webkit-animation-duration: 7s;
	animation-duration: 7s;
}

#display-item-29, 
#display-item-30, 
#display-item-31, 
#display-item-32, 
#display-item-33{ 
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;

}
#asset-display-zone.bobble{ 
	-webkit-animation: bobbleUp 10s ease-in-out infinite;
	animation: bobbleUp 10s ease-in-out infinite;
 }
/* Final Slide
------------------------ */
.reveal.poster-preview{ 
	   -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
	-webkit-animation: poster-bounceInDown 3s;
	animation: poster-bounceInDown 3s;	
}
#display-item-25{ 
	-webkit-animation: d11-slideInLeft 1.6s;
	animation: d11-slideInLeft 1.6s;
}
#growing-speech-bubble-2{ 
	-webkit-animation: text-fadeIn 3.4s;
	animation: text-fadeIn 3.4s;
}
#growing-speech-bubble-2 .center{
	-webkit-animation: grow 1s;
	animation: grow 1s;
 	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
#growing-speech-bubble-2 p{ 
	-webkit-animation: text-fadeIn 5s;
	animation: text-fadeIn 5s;
}
#display-item-26{ 
	-webkit-animation: d10-bounceIn 3s;
	animation: d10-bounceIn 3s; 
}
#display-item-26 h1, 
#display-item-26 p{ 
	-webkit-animation: text-fadeIn 4.4s;
	animation: text-fadeIn 4.4s; 
 } 
#display-item-26 a{ 
	-webkit-animation: text-fadeIn 5s;
	animation: text-fadeIn 5s;
 }
.exit #display-item-26{ 
	-webkit-animation: slideOutUp_45pc 1.5s;
	animation: slideOutUp_45pc 1.5s;
}
.exit.poster-preview{ 
	-webkit-animation: assetZone2-bounceOutUp 1.5s;
 	animation: assetZone2-bounceOutUp 1.5s;
 }
.exit #display-item-25{ 
	-webkit-animation: d11-slideOutLeft 1.5s;
	animation: d11-slideOutLeft 1.5s;
}
.exit #growing-speech-bubble-2{ 
	-webkit-animation: text-fadeOut 1.5s;
	animation: text-fadeOut 1.5s;
}
