@import 'reset.css';
@import 'animation.css';
@import 'durations.css';
@import 'exits.css';


/* MONOTYPE FONTS 
------------------------- */
/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@font-face{
font-family:"Frisans W04_n4";
src:url("Fonts/cee97dc0-b726-41db-b059-85ffaeae2890.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frisans W04";
src:url("Fonts/cee97dc0-b726-41db-b059-85ffaeae2890.eot?#iefix");
src:url("Fonts/cee97dc0-b726-41db-b059-85ffaeae2890.eot?#iefix") format("eot"),url("Fonts/908571af-41c9-4956-8794-2ba970ab0171.woff2") format("woff2"),url("Fonts/7609df8d-9070-489c-98d2-956e238d3fd8.woff") format("woff"),url("Fonts/8da7b97c-c9b4-4606-8c6f-2d77793f2c47.ttf") format("truetype"),url("Fonts/5bb125b3-835f-40c9-87f2-766d8aa5a6cc.svg#5bb125b3-835f-40c9-87f2-766d8aa5a6cc") format("svg");
font-weight: 400;
font-style: normal;
} 

.option-screen-shadows{ 
	top: 0;
	left: 1%;
	width: 100%;
	height: 100%;
	z-index: 1;
}

/* GLOBALS
------------------------- */
.hidden{ 
	display: none;
}
.visible{ 
	display: block;
}
.bg-img{
	position: absolute;
	background-repeat: no-repeat;
	-webkit-background-size: cover;         
     -moz-background-size: cover;             
       -o-background-size: cover;             
          background-size: cover;	
}
#preload{ 
	width: 1px; 
	height: 1px; 
	position: absolute;
	top: -10px;
	left: -10px;
}
#preload img{ 
	width: 100%;
}
.option-wrap{ 
	position: absolute;
	width: 25vw;
	height: 100%;
	top: 0;
	left: 66%;
	z-index: 3;
}
.slide-title{ 
	position: absolute;
	top: 3%;
	left: -0.55%;
	width: 25vw;

}
.slide-title h1{
	text-align: center; 
	font-size: 3.8vw;
	padding-top: 0;
}
h1{ 
	font-family: 'Frisans W04', Helvetica, Arial, sans-serif;
    color: #ffffff;
    padding-top: 21.5%;
    font-size: 6vw;
    letter-spacing: 0.1vw;
}
h2{
	font-family: 'Frisans W04',Helvetica, Arial, sans-serif;
	font-size: 6vw; 
	color: #ffffff;
	letter-spacing: 0.10vw;
	margin-bottom: 4%;
}
p{ 
    font-family: 'Frisans W04', Helvetica, Arial, sans-serif;
    font-size: 2vw;
    color: #ffffff;
    letter-spacing: 0.10vw;
    line-height: 2.8vw;
}
html, body {
	font-family: 'Frisans W04', Helvetica, Arial, sans-serif;
	font-size: 16px;
	height: 100%;
	overflow:hidden;
	text-align: center;
}
span.highlight{ 
	font-family: Helvetica, Arial, sans-serif;
	color: #930805;
}

a:hover {
  cursor: pointer;
}

#loading-text{ 
position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 100%
}
#loading-text img{
width: 100vw;
height: 100%;
}
#assets-loaded{ 
position: absolute;
bottom: -17%;
left: 0;
width: 100vw;
height: 7%;
overflow: hidden;
-webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
	    -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	  transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
#assets-not-loaded{ 
width: 100vw;
 }
#assets-not-loaded img{ 
	position: absolute;
	width: 100vw;
    bottom: -17%;
    left: 0%;
}
#assets-loaded img{ 
	position: absolute;
	width: 100vw;
    bottom: 0;
    left: 0%;
}
#loading-text{
  animation-name: pulse_animation;
	animation-duration: 4000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-transform: center;
	transform-origin: center;
}
@keyframes pulse_animation {
  0% { transform: scale(1); -webkit-transform: scale(1); }
  25% { transform: scale(1.1); -webkit-transform: scale(1.1); }
  50% { transform: scale(1); -webkit-transform: scale(1); }
  75% { transform: scale(1.1); -webkit-transform: scale(1.1); }
  100% { transform: scale(1); -webkit-transform: scale(1); }

}

/* CHARACTER ASSETS 
------------------------- */
#asset-display-zone{ 
	position: absolute;
	top: 0;
	left: 0;
	width: 30%;
	height: 30%;
	z-index: 2;
	display: none;
}
#asset-display-zone img{ 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#asset-display-zone.position-1{ 
	top: -68%;
    left: -37%;
    width: 110%;
}
#asset-display-zone.position-2{ 
    top: -29%;
    left: 2%;
    width: 67.5%;
}
/*#asset-display-zone.position-2{ 
    top: -31%;
    left: 2%;
    width: 71.5%;
}
#asset-display-zone.position-3{ 
    top: -29%;
    left: 5%;
    width: 67.5%;
}
*//* STAGE
------------------------- */


#load-text{ 
	font-family: Helvetica, Arial, sans-serif;
    color: #fcdb68;
    text-shadow: 0 0 10px #000000;
    padding-top: 21.5%;
	margin-top:-10%;
	font-size: 6vw;
}
#load-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#load-screen .bar {
	position: relative;
	height: 20%;
	width: 100%;
	right: 110%;
	top: 45%;
	text-align: right;
	background: rgba(0,0,0,.6);
}
#load-screen .end-bar{ 
	position: relative;
	z-index: 0;
	right: -10%;
	border-top-right-radius: 20%;
	border-bottom-right-radius: 20%;
	width: 10%; 
	height: 100%;
	display: inline-block;
	background: rgba(0,0,0,.6);
}
#load-screen .bar img{ 
	display: inline-block;
	text-align: left;
	position: relative; 
	z-index: 10;
	width: 12vw;
	height: 100%;
	right: -15%;
}
.make-volume{
	position: absolute;
	z-index: 10;
	width: 12vw;
	height: 15%;
	top:0;
	left: 1.5%;
	font-size: 0;
	padding: 1%;
	background-repeat: none;
	background-position: center bottom;
	-webkit-background-size: cover;         
     -moz-background-size: cover;             
       -o-background-size: cover;             
          background-size: cover;
}
.make-volume img{ 
	width: 100%;
}
.make-volume .make-btn, 
.make-volume .volume-btn{ 
	display: inline-block;
	vertical-align: middle;
	margin: 0; 
}
.make-btn {
	width: 55%;
    position: relative;
    z-index: 999;
    cursor: pointer;
	left: 0;
	padding-top: 10%;
	padding-right: 3%;
}
.volume-btn {
	width: 30%;
	position: relative;
    cursor: pointer;
    z-index: 999;
    padding-right: 10%;
    padding-top: 5%;
}
.volume-btn #play{
	z-index: 1000;
  display: none;
} 
.volume-btn #pause{ 
	z-index: 999;
}
/* PREVIOUS & NEXT STEPS
--------------------------- */
div#step-forward,
div#step-backward
{
	width: 10vw;
	height: 14%;
	position: absolute;
	top: 45%;
	z-index: 100;
	cursor:pointer;
	background-repeat: no-repeat;
	-webkit-background-size: cover;         
	    -moz-background-size: cover;             
		    -o-background-size: cover;             
	    	  background-size: cover; 

	-webkit-transition-property: left;
		-moz-transition-property: left;
		   -o-transition-property: left;
			  transition-property: left;
}
div#step-backward,
div#step-forward{ 
    -webkit-transition-duration: .3s;
	    -moz-transition-duration: .3s;
	       -o-transition-duration: .3s;
	    	  transition-duration: .3s;

    -webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
	    -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
		    -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
	    	  transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
div#step-backward .hover-item-1, 
div#step-forward .hover-item-1
{ 
    -webkit-transition-duration: .2s;
	    -moz-transition-duration: .2s;
	       -o-transition-duration: .2s;
	    	  transition-duration: .2s;

    -webkit-transition-timing-function: ease-in;
	    -moz-transition-timing-function: ease-in;
		    -o-transition-timing-function: ease-in;
	    	  transition-timing-function: ease-in;
}
div#step-forward .hover-item-2,
div#step-backward .hover-item-2
{ 
    -webkit-transition-duration: .1s;
	    -moz-transition-duration: .1s;
	       -o-transition-duration: .1s;
	    	  transition-duration: .1s;

    -webkit-transition-timing-function: ease-in;
	    -moz-transition-timing-function: ease-in;
		    -o-transition-timing-function: ease-in;
	    	  transition-timing-function: ease-in;
}
div#step-forward .hover-item-3,
div#step-backward .hover-item-3
{ 
	opacity: 0;
    -webkit-transition-duration: .1s;
	    -moz-transition-duration: .1s;
	       -o-transition-duration: .1s;
	    	  transition-duration: .1s;

    -webkit-transition-timing-function: ease-in;
	    -moz-transition-timing-function: ease-in;
		    -o-transition-timing-function: ease-in;
	    	  transition-timing-function: ease-in;
}
div#step-backward { 
	left:-3.25%;
}
div#step-forward { 
	left:93%;
}
div#step-forward > .nav, 
div#step-backward > .nav{ 
	height: 7.75vw;
	width: 10vw;
	z-index: 2;
}
div#step-forward a, 
div#step-backward a{ 
/*	border: 1px dashed red; */
	height: 7.75vw;
	width: 10vw;
    z-index: 100;
    display: block;
    position: absolute;
}
div#step-forward a{ 
    top: 0;
    left: 0;
} 
div#step-backward a{ 
	top: 0;
	left: 0;
}
div#step-forward > .hover-item-1, 
div#step-forward > .hover-item-2,
div#step-forward > .hover-item-3,
div#step-backward > .hover-item-1,
div#step-backward > .hover-item-2,  
div#step-backward > .hover-item-3{ 
	visibility: hidden;
}
div#step-backward > .hover-item-1{ 
    width: 6vw;
    height: 146%;
    top: -28%;
    left: -78%;
    z-index: 3;
}
div#step-backward > .hover-item-2{ 
    width: 9vw;
    height: 231%;
    top: -68%;
    left: -86%;
	z-index: 1;
}
div#step-backward > .hover-item-3{ 
    width: 18vw;
    height: 231%;
    top: -68%;
    left: -31%;
    z-index: 0;
}
div#step-forward > .hover-item-1{ 
    width: 6vw;
    height: 146%;
	top: -28%;
	left: 86%;
	z-index: 3;
}
div#step-forward > .hover-item-2{ 
    width: 9vw;
    height: 231%;
	top: -68%;
	left: 85%;
	z-index: 1;
}
div#step-forward > .hover-item-3{ 
    width: 10vw;
    height: 231%;
    top: -68%;
    left: -7%;
	z-index: 0;
}
div#step-backward.hover > .hover-item-1{ 
	left: -16%;
}
div#step-backward.hover > .hover-item-2{ 
    left: -11%;
}
div#step-forward.hover > .hover-item-1{ 
	left: 52%;
}
div#step-forward.hover > .hover-item-2{ 
	left: 18%;
}
div#step-backward.hover > .hover-item-3,
div#step-forward.hover > .hover-item-3{ 
	opacity: 1;
}
div#step-forward.hover{
	left: 92%;
}
div#step-backward.hover{ 
	left: -1.5%;
}
div#step-forward > .hover-item-1, 
div#step-forward > .hover-item-2,
div#step-forward > .hover-item-3,
div#step-backward > .hover-item-1,
div#step-backward > .hover-item-2,  
div#step-backward > .hover-item-3{ 
	visibility: visible;
}
/* WELCOME SLIDE 
------------------------- */ 
div#start-button{ 
    position: absolute;
    z-index: 5;
    width: 17vw;
    top: 74%;
    margin: 0 auto;
    right: 0; 
    left: 0;
    cursor: pointer;
}
div#start-button img{ 
	width: 100%; 
}
#start-button-flower{ 
	position: relative; 
	z-index: 1;
}
#start-button #text{ 
	position: relative; 
	z-index: 1;
	display: block;
	color: #ffffff;
	-webkit-transform: rotate(-7deg);
	-moz-transform:    rotate(-7deg);
	-ms-transform:     rotate(-7deg);
	-o-transform:      rotate(-7deg);
	transform: rotate(-7deg);
	font-size: 2vw;
	letter-spacing: 0.15vw;
}
#start-button img#flower{ 
	position: relative; 
	margin-top: -56%;
	z-index: 0;
}
img#start-button-stem{ 
	position: relative;
	z-index: 0;
	margin-top: -98%;
}
#first-screen #logo{ 
	width: 28vw;
	height: 48%;
	left: 0; 
	right: 0; 
	top: 4%;
	z-index: 5;
	margin-right: auto;
	margin-left: auto; 
}
/* Girl Troll (left) */
#first-screen #display-item-1{ 
	width: 35vw;
	height: 110%;
	left: -5%;
	top: -8%;
    z-index: 6;
}
/* Twin Trolls & Ground Shadow */
#first-screen #display-item-2,
#first-screen #display-item-3{ 
	width: 58vw;
	height: 88%;
	left: 0;
	right: 0;
	top: 0.5%;
	z-index: 0;
	margin-right: auto;
	margin-left: auto; 
}
#first-screen #display-item-2{ 
	z-index: 1;
	top: -0.5%;
}
/* Guy Troll (right) */ 
#first-screen #display-item-4{  
	width: 26.85vw;
	height: 70%;
	right: 0;
	top: 30%;
    z-index: 1;
}
/* Fern */ 
#first-screen #display-item-5{  
	width: 33.85vw;
	height: 100%;
	right: -18%;
    z-index: 0;
}
/* WELCOME SLIDE 
------------------------- */ 
/* Fern (front layer) */ 
#welcome #display-item-6{ 
	width: 46vw;
	height: 50%;
	top: 62%;
	left: -4%;
	z-index: 3;
}
/* Fern (center layer) */ 
#welcome #display-item-7{ 
	width: 45vw;
	height: 90%;
	top: 13%;
	left: -18%;
	z-index: 2;
}
/* Fern (rear layer) */ 
#welcome #display-item-8{ 
	width: 32vw;
	height: 88%;
	top: 38%;
	left: -4%;
	z-index: 1;
}
/* Girl Troll */ 
#welcome #display-item-9,
#final-slide #display-item-9{ 
	width: 45vw;
	height: 112%;
	top: -36%;
	left: 12%;
	z-index: 0;
}
/* Text Box */
#welcome #display-item-10{ 
	width: 37vw;
	height: 68%;
	top: 16.85%;
	left: 51%;
	z-index: 0; 
} 
#final-slide #display-item-26{ 
	width: 37vw;
    height: 68%;
    top: 6%;
    left: 60%;
    z-index: 10;
} 

#welcome #display-item-10 h1,
#final-slide #display-item-26 h1{ 
	position: relative;
	margin-top: -3%;
}
#welcome #display-item-10 p,
#final-slide #display-item-26 p{ 
	position: relative;
	width: 30vw;
	text-align: center;
	margin: 3% auto 0 auto;
	font-size: 3vw;
	line-height: 4vw;
}
#final-slide #display-item-26 h1{ 
	font-size: 5vw;
}
#final-slide #display-item-26 p{ 
	font-size: 1.8vw;
}
#welcome #flower-head-1{ 
    position: absolute;
    width: 4.5vw;
    top: 73%;
    left: 18%;
 } 
#final-slide #flower-head-10{ 
	position: absolute;
	width: 5vw;
	top: 72%;
	left: 17.5%;
}
#final-slide #flower-head-10{ 
	left: 9.5%;
}
#welcome #flower-head-2,
#final-slide #flower-head-11{ 
	position: absolute;
	width: 3.5vw;
	top: 83.25%;
	left: 33.5%;
}
#final-slide #flower-head-11{ 
	left: 25.5%;
}
#welcome #flower-head-3,
#final-slide #flower-head-12{ 
	position: absolute;
	width: 3.5vw;
	top: 84%;
	left: 72%;
}
#welcome #flower-head-4,
#final-slide #flower-head-13{ 
	position: absolute;
	width: 5vw;
	top: 72%;
	left: 76.5%;
}
/* GENDER - #option_1
------------------------- */
#chat-1,
#chat-2{ 
	position: absolute;
	width: 93vw;
	height: 80%;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
	margin: 0 auto;
} 
#chat-2{ 
	z-index: 0;
}
/* Girl Troll */
#chat-1 #display-item-11,
#chat-2 #display-item-25{ 
	position: absolute;
	width: 28vw;
	height: 106%;
	top: -2%;
	left: -3%;
}
/* Speech Bubble */
#option_1 #display-item-12{ 
	position: absolute;
	width: 68vw;
	height: 16%;
	top: 79%;
	left: 26%;
}
/* Growing Speech Bubble */
#option_1 #growing-speech-bubble,
#final-slide #growing-speech-bubble-2{ 
	position: absolute;
	top: 81%;
	left: 24%;
	font-size: 0;
}
#option_1 #growing-speech-bubble p,
#final-slide #growing-speech-bubble-2 p{ 
	font-size: 2.1vw;
	position: absolute;
	top: 30%;
	left: 12%;
}
#final-slide #growing-speech-bubble-2 p{ 
	padding-left: 8%;
}
#option_1 #growing-speech-bubble .left, 
#option_1 #growing-speech-bubble .right,
#final-slide #growing-speech-bubble-2 .left,
#final-slide #growing-speech-bubble-2 .right{ 
	float: left;
	vertical-align: middle;
	display: inline-block;
	height: 7vw;
	background-repeat: no-repeat;
	-webkit-background-size: cover;         
     -moz-background-size: cover;             
       -o-background-size: cover;             
          background-size: cover;	
}
#option_1 #growing-speech-bubble .center,
#final-slide #growing-speech-bubble-2 .center{ 
	vertical-align: middle;
	height: 7vw;
	background-repeat: repeat-x;
	background-position: top center;
   -webkit-background-size: 40px 100%;        
     -moz-background-size: 40px 100%;             
       -o-background-size: 40px 100%;            
          background-size: 40px 100%;
          float: left;
}
#option_1 #growing-speech-bubble .left,
#final-slide #growing-speech-bubble-2 .left{ 
	width: 7.5vw;
	margin-right: -2px;
}

#option_1 #growing-speech-bubble .right,
#final-slide #growing-speech-bubble-2 .right{ 
	width: 6vw;
	padding-right: 1px;
	margin-left: -2px;
}
#final-slide #growing-speech-bubble-2 .right{ 
	width: 6.3vw;
}
#option_1 #growing-speech-bubble .collapsed.center,
#final-slide #growing-speech-bubble-2 .collapsed.center{
	width: 0vw;
} 
#option_1 #growing-speech-bubble .expanded.center,
#final-slide #growing-speech-bubble-2 .expanded.center{
	width: 56vw;
} 
#gender-select{ 
    position: absolute;
    width: 64vw;
    height: 80%;
    top: 2%;
    left: 30%;
	z-index: 1;
}
#gender-select #girl{
	width: 56vw; 
	height: 101.5%;
	top: 0;
	left: -13%; 
}
#gender-select #boy{
	width: 55vw;
	height: 103%;
	top: 2.5%;
	left: 21%;
}
#gender-select #girl a, 
#gender-select #boy a{ 
	height: 95%;
	width: 35%;
	z-index: 100;
	display: block;
	position: absolute;
	pointer-events: none;
}
#gender-select #girl a{ 
	top: 4%;
	left: 35%;
}
#gender-select #boy a{ 
	top: 0%;
	left: 36%;
}
#gender-select #girl .bg-display-item,
#gender-select #boy .bg-display-item{ 
	z-index: 5;
}
#gender-select #girl .glow,
#gender-select #boy .glow{ 
	width: 100%;
	z-index: 0 !important;
	top: 0;
	left: 4%;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}
#gender-select #girl .glow{ 
	height: 100%;
}
#gender-select #boy .glow{ 
	height: 98%;
}
/* '~' This is a sibling selector. */
#gender-select #girl a:hover ~ .bg-display-item{ 
	background-image: url("../img/generic-troll/girl-hover.svg") !important;
}
#gender-select #boy a:hover ~ .bg-display-item{ 
	background-image: url("../img/generic-troll/boy-hover.svg") !important;
}
#gender-select #girl a:hover ~ .glow,
#gender-select #boy a:hover ~ .glow{ 
	opacity: 1 !important;
	transform: scale(1) !important;
}
#gender-select #girl div{ 
	width: 22vw;
	height: 98%;
	top: 1%;
	left: 32%;
}
#gender-select #boy div{ 
	width: 21.1vw;
	height: 92%;
	top: 3%;
	left: 34%;
}

/* OPTION SCREENS
------------------------- */
#asset-display-zone img.troll-asset.position-1{ 
	top: 32%;
	left: 2%;
}
#asset-display-zone img.troll-asset.position-2{ 
	top: 8%;
}
#asset-display-zone img.troll-asset.position-3{ 
	top: 21%;
} 
#asset-display-zone img.troll-asset.position-4{ 
	top: 19%;
}
#asset-display-zone img.troll-asset.position-5{ 
	left: 3%;
}
#asset-display-zone img.troll-asset.position-6{ 
	left: 0%;
}
#asset-display-zone img.troll-asset.position-7{ 
	left: -4%;
}
#asset-display-zone img.troll-asset.position-8{ 
	left: -6%;
}
#preview-poster img.troll-asset.position-7{ 
	left: 10%;
}
#coloring-page img.troll-asset.position-7{ 
	left: -1%;
}
#preview-poster img.troll-asset.position-8{ 
	left: 8%;
}
#coloring-page img.troll-asset.position-8{ 
	left: -2.2%;
}
.option-screens{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
	width: 1600px;
	height: 900px;
	z-index: 1;
}
#option-screen-bg{ 
	z-index: 0;
}

/* Fern (Left) */
.option-screens #display-item-13{ 
	width: 42vw;
	height: 20vw;
	top: 66%;
	left: -29%;
	z-index: 3;
}
/* Fern (Right) */
.option-screens #display-item-14{ 
	width: 67vw;
	height: 20vw;
	top: 68%;
	left: 78%;
}
/* Sidebar - Title box (Cloud) */
.option-screens #display-item-15{ 
	width: 31.5vw;
	height: 25.97%;
	top: -8%;
	left: 62.35%;
	z-index: 1;
}
/* Option None Button */
#option-none{
    width: 8.8vw;
    height: 32.5%;
    top: 1%;
    left: 81.5%;
    z-index: 0;
}
.option-wrap .clear-selection{ 
	position: absolute;
    width: 7.5vw;
    height: 7.5vw;
    top: 25%;
    left: 63% !important;

}
/* Sidebar - Title Box Decoration 1 */
.option-screens #display-item-18{ 
	width: 4.8vw;
	height: 15.5%;
	top: 14%;
	left: 84.35%;
}
/* Sidebar - Title Box Decoration 2 */
.option-screens #display-item-19{ 
	width: 3.05%;
	height: 8%;
	top: 15%;
	left: 81.35%;
}

/* Sidebar - Flower Bed*/
.option-screens #display-item-16{ 
	width: 27vw;
	height: 9%;
	top: 91.5%;
	left: 64.93%;
}
/* Sidebar - Background Image */
.option-screens #display-item-17{ 
	width: 25vw;
	height: 100%;
	top: 0;
	left: 66%;
}
/* Sidebar - Flower Head 1 */
.option-screens #display-item-20{ 
	width: 3.1vw;
	height: 5.15%;
	top: 87.5%;
	left: 69.1%;
}
/* Sidebar - Flower Head 1 */
.option-screens #display-item-21{ 
	width: 2.35vw;
	height: 3%;
	top: 93%;
	left: 72.80%;
}
.pod-asset.vines{ 
	position: absolute;
	width: 70%;
	height: 100%;
	top: 0;
	left: -3%;
} 

/* Pod Asset - Curled Vine Left */ 
.pod-asset.vines.position-1 #display-item-27,
.pod-asset.vines.position-2 #display-item-27{ 
	z-index: 10;
 }
.pod-asset.vines.position-1 #display-item-27{ 
    width: 20vw;
    height: 24%;
    top: -10%;
    left: 23%;
}
.pod-asset.vines.position-2 #display-item-27{ 
    width: 19vw;
    height: 23%;
    top: -10%;
    left: 20%;
}
/* Pod Asset - Curled Vine Right */
.pod-asset.vines.position-1 #display-item-28,
.pod-asset.vines.position-2 #display-item-28{ 
	z-index: 10;
 }
.pod-asset.vines.position-1 #display-item-28{ 
    width: 18vw;
    height: 16%;
    top: -7.5%;
    left: 58%;
}
.pod-asset.vines.position-2 #display-item-28{ 
    width: 17vw;
    height: 15%;
    top: -7.5%;
    left: 58%;
}
/* Pod Asset - Hanging Vine 1 */
.pod-asset.vines.position-1 #display-item-29{ 
    width: 4.2vw;
    height: 105%;
    top: -35%;
    left: 25%;
}
.pod-asset.vines.position-2 #display-item-29{ 
    width: 3.5vw;
    height: 102%;
    top: -35%;
    left: 25%;
}
/* Pod Asset - Hanging Vine 2 */
.pod-asset.vines.position-1 #display-item-30{ 
    width: 5.2vw;
    height: 100%;
    top: -53%;
    left: 38%;
}
.pod-asset.vines.position-2 #display-item-30{ 
    width: 4vw;
    height: 98%;
    top: -53%;
    left: 38%;
}
/* Pod Asset - Hanging Vine 3 */
.pod-asset.vines.position-1 #display-item-31{ 
    width: 4vw;
    height: 100%;
    top: -23%;
    left: 56%;
}
.pod-asset.vines.position-2 #display-item-31{ 
    width: 3.2vw;
    height: 99%;
    top: -23%;
    left: 56%;
}
/* Pod Asset - Hanging Vine 4 */
.pod-asset.vines.position-1  #display-item-32{ 
    width: 5vw;
    height: 95%;
    top: -44%;
    left: 68%;
}
.pod-asset.vines.position-2  #display-item-32{ 
    width: 4vw;
    height: 93%;
    top: -44%;
    left: 68%;
}
/* Pod Asset - Hanging Vine 5 */
.pod-asset.vines.position-1 #display-item-33{ 
    width: 4vw;
    height: 87%;
    top: -26%;
    left: 76%;
}
.pod-asset.vines.position-2 #display-item-33{ 
    width: 3vw;
    height: 85%;
    top: -26%;
    left: 76%;
}
.options a{ 
	display: block;
    width: 16vw;
    height: 29.775%;
    position: absolute;
    overflow: hidden;
    /*border: 1px solid #ddd;*/
    top: 20%;
    -webkit-transition: transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550), opacity 0.2s ease-in-out;
	-moz-transition: transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550), opacity 0.2s ease-in-out;
	-o-transition: transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550), opacity 0.2s ease-in-out;
	transition: transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550), opacity 0.2s ease-in-out;
	transform: scale(0.85);
	border-radius: 75%;
}
.fadeOutOptions{ 
	opacity: 0.3;
}
.options a[data-selection] div{ 
	position: absolute;
	width: 18vw;
	height: 16.1vw;
	opacity: 1;
	left: -7%;
	top: 0%;
  }
.options a[data-selection]:nth-child(odd){ 
	left: -3%;
 }

.options a[data-selection]:nth-child(even){ 
 	left: 42%;
 }
.options a[data-selection]:nth-child(1){ 
	top: 22%;
}
.options a[data-selection]:nth-child(2){ 
	top: 38.5%;
}
.options a[data-selection]:nth-child(3){ 
	top: 55%;
}
.options a[data-selection]:nth-child(4){ 
	top: 72%;
}

#option_7 .options a[data-selection]:nth-child(1), 
#option_8 .options a[data-selection]:nth-child(4){ 
    width: 17vw;
    height: 30.775%;
}
#option_7 a[data-selection]:hover,
#option_8 a[data-selection]:hover{ 
	transform: scale(0.93);
}
#option_8 a[data-selection]:nth-child(2),
#option_8 a[data-selection]:nth-child(4){ 
	left: 41%;
}
#option_9 .options a[data-selection]:nth-child(2){ 
	width: 16.1vw;
	left: 41.75%;
}


.options a[data-selection]:hover{ 
	transform: scale(0.975);
}

#gender-select .selected{
	z-index: 4;
}
#gender-select .selected .glow{
	z-index: 0;
}
.options{
    position: relative;
    height: 100%; 
	left: -1%;
	top: -5%;
	z-index: 10;
}
.options .selected{
	width: 5vw;
	height: 5vw;
	z-index: 10;	
}
.options .selected.position-0{ 
    top: -100%;
}

.options .selected.position-1{ 
    top: 26%;
    left: 3%;
}
.options .selected.position-2{ 
    top: 44%;
    left: 47%;
}
.options .selected.position-3{ 
    top: 59%;
    left: 3%;
}
.options .selected.position-4{ 
    top: 77%;
    left: 47%;
}

.forward, .backward, #refresh{ 
	cursor: pointer;
}

/* NAMES
------------------------- */
div#select-name-1,
div#select-name-2, 
div#select-name-3{ 
    width: 21vw;
    left: 8%;
    height: 12%;
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;      
	user-select: none;      
}
#name-1,
#name-2,
#name-3{ 
	width: 56%;
    margin-left: 21%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: block;
    text-align: center;
    color: #b1278c;
    font-size: 2.4vw;
    cursor: pointer;
}
.forward, 
.backward{ 
	position: absolute;
	width: 2.3vw;
	height: 1.2vw;
	left: 82%;
}
.forward{ 
	top: 24%;
}
.backward{
	top: 55%;
}
div#select-name-1{ 
	top: 32%;
}
div#select-name-2{ 
	top: 46.5%;
}
div#select-name-3{ 
	top: 61%;
}
div#refresh{ 
    width: 6vw;
    height: 6vw;
    top: 77%;
    left: 38%;
}

/* CREATE SCREEN 
-------------------- */
#create-icon{ 
    width: 8vw;
    height: 12%;
    top: 31%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#create-text{ 
	display: block;
	position: absolute;
	width: 20vw;
	top: 46%;
	color: #6b5fa9;
	left: 0;
    right: 0;
    margin: 0 auto;
    text-transform: uppercase;
}
#generate-pdf{ 
    display: block;
    position: absolute;
    width: 18.7vw;
    height: 7%;
    top: 66%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#final-step-loading{ 
	display: none;
}
#final-step-loading {
	position: absolute;
	z-index: 10;
	font-family: 'Frisans W04',Helvetica, Arial, sans-serif;
	font-size: 6vw; 
	color: #6b5fa9;
	font-size: 4vw;
	top: 50%;
    left: 16.75%;
}
  #final-step-loading span {
    display: inline-block;
    margin-top: 40%;
  }

  #final-step-loading span:after {
    overflow: hidden;
    position: absolute;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4,end) 2400ms infinite;
    -moz-animation: ellipsis steps(4,end) 2400ms infinite;      
    -webkit-animation: ellipsis steps(4,end) 2400ms infinite;  
    -ms-animation: ellipsis steps(4,end) 2400ms infinite;  
    -o-animation: ellipsis steps(4,end) 2400ms infinite;  
    content: "\2026";
    width: 0px;
    text-align: left;
  }

  @keyframes ellipsis {
    to {
      width: 1.2em;    
    }
  }

  @-moz-keyframes ellipsis {
    to {
      width: 1.2em;    
    }
  }

  @-webkit-keyframes ellipsis {
    to {
      width: 1.2em;    
    }
  }

  @-ms-keyframes ellipsis {
    to {
      width: 1.2em;    
    }
  }

  @-o-keyframes ellipsis {
    to {
      width: 1.2em;    
    }
  }
/* FINAL SLIDE 
------------------------ */
#final-step-share{
	width: 14.25vw;
    height: 3.9vw; 
	top: 52%;
	left: 10%;
}
#final-step-download{ 
    width: 12.765vw;
    height: 3.9vw;
    top: 52%;
    left: 55%;
}
#final-step-print{
	width: 14.55vw;
    height: 3.7vw; 
    top: 37%;
    left: 31%;
}
#return-to-start{
    width: 15.125vw;
    height: 3.725vw;
    top: 67%;
    left: 30%;
}

#show-poster{ 
    width: 16vw;
    height: 36%;
    display: block;
    position: absolute;
    top: 46%;
    left: 23%;
    z-index: 90;
}
#show-coloring-page{ 
    width: 12vw;
    height: 39%;
    display: block;
    position: absolute;
    top: 42%;
    left: 60%;
    z-index: 90;
}




/* PRINT & SHARE PREVIEW IMAGES
----------------------------------- */
.poster-preview{
    position: absolute;
    width: 52vw;
    height: 100%;
    left: 14%;
    top: -18%;
    -webkit-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
}
.poster-preview #preview-poster, 
.poster-preview #coloring-page{ 
   	position: absolute;
    width: 20vw;
    height: 24vw;
	z-index: 1;
	overflow: hidden;
}
.poster-preview #preview-poster{ 
    height: 25vw;
}
.poster-preview #preview-poster{ 
 	top: 40%;
}
.poster-preview #coloring-page{ 
	top: 0;
	left: 20%;
}
.poster-preview #preview-poster img, 
.poster-preview #coloring-page img{ 
	position: absolute;
	width:89%;
}

.poster-preview #preview-poster img{ 
	top: -2%;
	left: 13.5%;
}
#preview-poster.position-2 img{ 
	left: 11.5%;
}
.poster-preview #coloring-page img{ 
	top: -2%;
	left: 2%;
}
.poster-preview #display-item-33,
.poster-preview #display-item-34{ 
	z-index: 10;
}
/*.poster-left, 
.poster-right{ 
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
 }*/
.rotate-poster-left,
.rotate-poster-right{ 
	position: absolute;
	z-index: 2;
}
.rotate-poster-left{
	-webkit-transform: rotateZ(-10deg);
	transform: rotateZ(-10deg);
    top: 47%;
    left: 15%;
}
.rotate-poster-right{
	-webkit-transform: rotateZ(9deg);
	transform: rotateZ(9deg);
    top: 38%;
    left: 51%;
    width: 1vw;
    height: 5%;
}
.frame-front{ 
 	position: absolute;
 	width: 21vw;
 	height: 25vw;
 	z-index: 2;
 	top: 40%;
 }

.poster-left .vine-shadow, 
.poster-right .vine-shadow{ 
    position: absolute;
    width: 21vw;
    height: 25vw;
    z-index: 3;
    top: 40%;
}
.poster-right .coloring-page-stamp{ 
    width: 8.75vw;
    height: 9.55vw;
    z-index: 4;
    top: -120%;
    position: relative;
    left: 845%;
}
.poster-right .vine-shadow{ 
    top: 0;
    left: 20%;
}
.poster-right .frame-front{
	top: 0;
 	left: 20%;
 }
.poster-preview #display-item-35,
.poster-preview #display-item-36,
.poster-preview #display-item-37,
.poster-preview #display-item-38,
.poster-preview #display-item-39{ 
	z-index: 0;
}
.poster-preview #display-item-40{ 
    width: 21vw;
    height: 25.5%;
    top: 8%;
    left: 18%;
}
.poster-preview #display-item-41{ 
    width: 22vw;
    height: 27%;
    top: 10%;
    left: 45%;
}
.poster-preview #display-item-35{ 
    width: 3.5vw;
    height: 60%;
    top: 10%;
    left: 23%;
}
.poster-preview #display-item-36{ 
	width: 2.5vw;
	height: 60%;
	top: 10%;
	left: 40%;
}
.poster-preview #display-item-37{ 
	width: 2.5vw;
	height: 60%;
	top: 10%;
	left: 58%;
}
.poster-preview #display-item-38{ 
	width: 2.5vw;
	height: 60%;
	top: 10%;
	left: 66%;
}
.poster-preview #display-item-39{ 
	width: 3.5vw;
	height: 48%;
    top: 9%;
    left: 78%;
}

/* ReUSE THIS CODE ALWAYS */
.stage-bg{ 
	position: absolute;
	margin: 0 auto;
	width: 1600px;
	height: 900px;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;         
     -moz-background-size: cover;             
       -o-background-size: cover;             
          background-size: cover;
}

#final-step-loading > .spinner{ 
	top: -100%;
    width: 100%;
    left: 15%;
}

.spinner {
	display: none;
	position: absolute;
	z-index: 100;
	top: 28%;
    left: 23%;
    width: 28%;
	height: auto;
	pointer-events: none;
	
	-webkit-animation-name: spin;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: reverse;
	-moz-animation-name: spin;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-moz-animation-direction: reverse;
	-ms-animation-name: spin;
	-ms-animation-duration: 2s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-ms-animation-direction: reverse;
	animation-name: spin;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
}

@-webkit-keyframes spin
{
  from{-webkit-transform:rotate(360deg);}
  to{-webkit-transform:rotate(0deg);}
}
@-moz-keyframes spin
{
  from{-moz-transform:rotate(360deg);}
  to{-moz-transform:rotate(0deg);}
}
@-ms-keyframes spin
{
  from{-ms-transform:rotate(360deg);}
  to{-ms-transform:rotate(0deg);}
}
@keyframes spin
{
  from{transform:rotate(360deg);}
  to{transform:rotate(0deg);}
}

#stage {
	position: relative;
	margin: 0 auto;
	width: 1600px;
	height: 900px;
	overflow: hidden;
	background-image: url("../img/stage-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;         
     -moz-background-size: cover;             
       -o-background-size: cover;             
          background-size: cover;
}
  #stage.loading .spinner {
    display: block;
  }
  #stage.loading #asset-display-zone{
    opacity: .5;
  }

#mobile{
  height:100%;
  background-repeat: no-repeat;
  background-position: center;
	-webkit-background-size: cover;         
     -moz-background-size: cover;             
       -o-background-size: cover;             
          background-size: cover;
            display:none;
  position: relative;
  z-index: 999999;
  background-image: url("../img/rotate-screen.jpg");
}
@media only screen and (max-device-width : 1335px) and (orientation : portrait) {
  #mobile {
    display: block;
  }
}

img.preview-image{ 
	width: 100%;
}
#poster-preview-enlarge, 
#coloring-preview-enlarge{
	z-index: 1001; 
	opacity: 0;
	pointer-events: none;
	width: 35%;
	position: absolute; 
	top: 10%; 
	left: 30%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: transform 0.575s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	transition: transform 0.575s cubic-bezier(0.680, -0.550, 0.265, 1.550);
 }
#poster-preview-enlarge.open, 
#coloring-preview-enlarge.open{ 
	opacity: 1;
	pointer-events: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
}
#poster-preview-enlarge .close, 
#coloring-preview-enlarge .close{ 
	position: absolute;
    right: -5%;
    top: -3%;
    background: #842959;
    color: #ffffff;
    padding: 0.5vw 1.2vw 0.59vw 1.2vw;
    border-radius: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-family: 'Frisans W04';
    font-size: 3vw;
}
#coloring-preview-enlarge .coloring-page-stamp{ 
    width: 9.2vw;
    height: 10vw;
    z-index: 4;
    top: -7%;
    position: absolute;
    left: -7%;
    background-image: url("../img/poster-preview/coloring-page-stamp.png");
}
#restart-yes,
#restart-no{ 
	padding: 2vw 5vw;
    border-radius: 1.5vw;
	display: inline-block;
	text-transform: uppercase;
	color: #ffffff;
	background: #a64088;
	font-size: 2vw;
	letter-spacing: 0.05vw;
	text-align: center;

}
#restart-yes{ 
	margin-right: 5%;
    margin-left: 7%;
    margin-top: 3%;
}
#restart-yes:hover, 
#restart-no:hover{ 
	background: #842959;
}

div.popup {
  position: absolute;
  top: 15%;
  left: -100%;
  width: 80%;
  background: #fff;
  border-radius: 16px;
  z-index: 1001;
  padding: 2% 2% 3% 2%;
  -webkit-transform: scale(0);
  transform: scale(0);
  font-family: 'LondrinaBook-Regular', Helvetica, Arial, sans-serif;
}
  div.popup.open {
    left: 8%;
    -webkit-transform: scale(1);
    transform: scale(1);
      -webkit-transition: transform 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: transform 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  }
  div.popup a.close {
    display: block;
    position: absolute;
    top: 1.3vw;
    right: 1.3vw;
    font-family: 'Frisans W04';
    font-size: 3vw;
    color: #842959;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    line-height: 0px;
    padding: .7vw 0px 1vw 0px;
    z-index: 2;
  }
    div.popup a.close:hover {
      opacity: .8;
    }
  div.popup .image {
    float: left;
    width: 24vw;
    height: 31vw;
    top: 6.5%;
    left: 9%;
    border: 1px solid #dddddd;
  }
    div.popup .image img {
      width: 100%;
      height: auto;
    }
  div.popup .text {
    float: right;
    width: 55%;
    position: relative;
    font-family: 'Frisans W04',Helvetica, Arial, sans-serif;
    text-align: left;
  }
    div.popup strong {
      font-family: 'Frisans W04',Helvetica, Arial, sans-serif;
    }
    div.popup .text h6 {
      font-size: 2.8vw;
      margin-top: 1vw;
      margin-bottom: 1vw;
      color: #842959;
      font-family: 'Frisans W04',Helvetica, Arial, sans-serif;
    }
    div.popup .text p {
      font-size: 1.5vw;
      line-height: 1.4;
      margin-bottom: .8vw;
      padding-left: 4vw;
      color: #a64088;
    }
    div.popup .text .spacer {
      height: .8vw;
    }
  div.popup .bubble {
    position: absolute;
    font-size: 1.7vw;
    line-height: 2.8vw;
    font-family: 'Frisans W04',Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fff;
    background: #a64088;
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 1.5vw;
    margin-top: .6vw;
  }
    div.popup .bubble > div {
      position: relative;
      top: -2px;
      background: #da5596;
      width: 2.8vw;
      height: 2.8vw;
      border-radius: 1.5vw;
    }

div#shade {
  position: fixed;
  top: 0%;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
  div#shade.open {
    left: 0;
    opacity: .9;
  }

div#preload {
  position: absolute;
  top: 0;
  left: 0;
}
  div#preload img, div#preload audio {
    width: 1; 
    height: 1;
    opacity: .01;
    position: absolute;
    left: -9999px;
  }

@media (min-width: 680px){ 
	#option_1 #growing-speech-bubble .right{ 
		padding-right: 3px;
	}	
}
@media (min-width: 1000px){ 
	#option_1 #growing-speech-bubble .right{ 
		padding-right: 4px;
	}	
}
@media (min-width: 1200px){ 
	#option_1 #growing-speech-bubble .right{ 
		padding-right: 5px;
	}	
}

@supports (-ms-ime-align:auto){ 
	.option-screens #display-item-29, 
	.option-screens #display-item-30, 
	.option-screens #display-item-31, 
	.option-screens #display-item-32, 
	.option-screens #display-item-33,
	#display-item-18,
	#display-item-19,
	#welcome #flower-head-1, 
	#welcome #flower-head-3,
	.option-screens #display-item-20,
	#welcome #flower-head-2, 
	#welcome #flower-head-4,
	.option-screens #display-item-21,
	#display-item-26 #flower-head-10,
	#display-item-26 #flower-head-12,  
	#display-item-26 #flower-head-11,
	#display-item-26 #flower-head-13
	{
		-webkit-animation-name: noShake !important;
		-ms-animation-name: noShake !important;
		animation-name: noShake !important;
	}
	#display-item-9 { 
		-webkit-animation: bounceInUp 2s;
		animation: bounceInUp 2s;
	}
	.exit #display-item-26, 
	.exit #display-item-10{ 
		-webkit-animation: slideOutUp_70pc 1.5s;
		animation: slideOutUp_70pc 1.5s;
	}
	#display-item-10, 
	#display-item-26{ 
		-webkit-animation: gender-bounceInDown 3s;
		animation: gender-bounceInDown 3s;
	}

}