/* DURATIONS
--------------------------------- */ 
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#first-screen #step-forward{ 
	-webkit-animation: navigation-slideInLeft 0.4s;
	animation: navigation-slideInLeft 0.4s;
 }

.exit#step-forward{ 
	-webkit-animation: navigation-slideOutRight 0.4s;
	animation: navigation-slideOutRight 0.4s;
    -webkit-transform: translate3d(140%, 0, 0);
    transform: translate3d(140%, 0, 0);
 }
.force-exit#step-forward{ 
	-webkit-animation: navigation-slideOutRight 0.4s !important;
	animation: navigation-slideOutRight 0.4s !important;
    -webkit-transform: translate3d(140%, 0, 0) !important;
    transform: translate3d(140%, 0, 0) !important;
 }
.exit#step-backward{ 
	-webkit-animation: navigation-slideOutLeft 0.4s;
	animation: navigation-slideOutLeft 0.4s;
    -webkit-transform: translate3d(-140%, 0, 0);
    transform: translate3d(-140%, 0, 0);
  }
.force-exit#step-backward{ 
	-webkit-animation: navigation-slideOutLeft 0.4s !important;
	animation: navigation-slideOutLeft 0.4s !important;
    -webkit-transform: translate3d(-140%, 0, 0) !important;
    transform: translate3d(-140%, 0, 0) !important;
  }
.enter#step-forward{ 
	-webkit-animation: navigation-slideInRight 0.4s;
	animation: navigation-slideInRight 0.4s;
	 -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
 }
.enter#step-backward{ 
	-webkit-animation: navigation-slideInLeft 0.4s;
	animation: navigation-slideInLeft 0.4s;
	    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
 .theme-option.active .theme-hover.flash{ 
	-webkit-animation: flashing 1s infinite ease-in-out;
	animation: flashing 1s infinite ease-in-out;
	animation-delay: 1s;
}
div.photo_0b.flash{ 
	
	-webkit-animation: flashing 1s infinite ease-in-out;
	animation: flashing 1s infinite ease-in-out;
	animation-delay: 1s;
}

/* FIRST SCREEN 
--------------------------------- */
#loading-text.exit{
	-webkit-animation: loading-bounceOutUp 2s;
	animation: loading-bounceOutUp 2s;	
}
#assets-loaded.exit{ 
	-webkit-animation: loadingTroll-bounceOutDown 2s;
	animation: loadingTroll-bounceOutDown 2s;
}

#trolls-logo{ 
	-webkit-animation: logo-bounceIn 1.5s;
	animation: logo-bounceIn 1.5s;
}
#project-title{ 
	-webkit-animation: startbutton-bounceInDown 2.25s;
	animation: startbutton-bounceInDown 2.25s;
}
#start-button{ 
	-webkit-animation: startbutton-bounceInDown 2.75s;
	animation: startbutton-bounceInDown 2.75s;
}

/* Fern */ 
#fern-1{  
	-webkit-animation: bounceInUp 0.75s cubic-bezier(0.175, 0.885, 0.220, 1);
	animation: bounceInUp 0.75s cubic-bezier(0.175, 0.885, 0.220, 1);
}
/* Target Logo */ 
#target-promo{  
	-webkit-animation: d6-bounceInUp 2.45s cubic-bezier(0.685, -0.220, 0.060, 1.50);
	animation: d6-bounceInUp 2.45s cubic-bezier(0.685, -0.220, 0.060, 1.50);
}

/* Poppy */
#poppy-1{  
	-webkit-animation: d1-slideInLeft 1.4s cubic-bezier(0.175, 0.885, 0.220, 1.25);
	animation: d1-slideInLeft 1.4s cubic-bezier(0.175, 0.885, 0.220, 1.25);
}
/* Glitter Troll */
#glitter-tr-1, #glitter-tr-1-shd{  
	-webkit-animation: d4-slideInRight 1.6s cubic-bezier(0.175, 0.885, 0.220, 1); 
	animation: d4-slideInRight 1.6s cubic-bezier(0.175, 0.885, 0.220, 1);
}
/* DJ Troll */
#dj-tr-1, #dj-tr-1-shd{  
	-webkit-animation: d1-slideInLeft 2.8s cubic-bezier(0.175, 0.885, 0.220, 1);
	animation: d1-slideInLeft 2.8s cubic-bezier(0.175, 0.885, 0.220, 1);
}





/* WELCOME SCREEN 
--------------------------------- */
/*#display-item-{ 
	-webkit-animation: ;
	animation: ;
}*/


#fern-2{ 
	-webkit-animation: d1-bounceInUp 1.35s;
	animation: d1-bounceInUp 1.35s;
}
#fern-3{ 
	-webkit-animation: d1-bounceInUp 1;
	animation: d1-bounceInUp 1s;
}
#fern-4{ 
	-webkit-animation: d1-bounceInUp 1.35s;
	animation: d1-bounceInUp 1.35s;
}

/* Girl Troll */
#poppy-2 { 
	-webkit-animation: d5-bounceInUp 1s cubic-bezier(0.175, 0.885, 0.220, 1.65);
	animation: d5-bounceInUp 1s cubic-bezier(0.175, 0.885, 0.220, 1.65);
}
/* Pop Up */
#text-box{ 
	-webkit-animation: d10-bounceIn 2.8s;
	animation: d10-bounceIn 2.8s; 
}

 
/*
.heart-1{
	-webkit-animation: shakeRight .9s ease-in-out infinite;
	animation: shakeRight .9s ease-in-out infinite;
	-webkit-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
.heart-2, 
.heart-3{
	-webkit-animation: shakeLeft .9s ease-in-out infinite;
	animation: shakeLeft .9s ease-in-out infinite;
	-webkit-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
*/



/* OPTION SLIDES
----------------------- */
.instructionals { 
	-webkit-animation: d12-bounceIn 1s;
	animation: d12-bounceIn 1s;	
}

/* Final Slide
------------------------ */
#poppy-4{ 
	-webkit-animation: d11-slideInLeft 2.3s;
	animation: d11-slideInLeft 2.3s;
}
#preview-scrapbook{
	-webkit-animation: startbutton-bounceInDown 2.1s;
    animation: startbutton-bounceInDown 2.1s;
}

#growing-speech-bubble{ 
	-webkit-animation: text-fadeIn 3.4s;
	animation: text-fadeIn 3.4s;
}
#growing-speech-bubble .center{
	-webkit-animation: grow 1s;
	animation: grow 1s;
 	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
#growing-speech-bubble p, #growing-speech-bubble-text p{ 
	-webkit-animation: text-fadeIn 5s;
	animation: text-fadeIn 5s;
}
#text-box-2 {
    -webkit-animation: d10-bounceIn 3.2s;
    animation: d10-bounceIn 3.2s;
}