@import 'reset.css';
@import 'animation.css';
@import 'durations.css';
@import 'exits.css';

/* FONTS
------------------------- */
@font-face{
    font-family:"Avenir Next Rounded W05_n4";
    src:url("Fonts/d7604ad7-dcc9-47a9-a30d-57c7cd733305.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Avenir Next Rounded W05";
    src:url("Fonts/d7604ad7-dcc9-47a9-a30d-57c7cd733305.eot?#iefix");
    src:url("Fonts/d7604ad7-dcc9-47a9-a30d-57c7cd733305.eot?#iefix") format("eot"),url("Fonts/8b7b3492-816b-4655-a2e6-5d55e9f193dc.woff2") format("woff2"),url("Fonts/74305c84-09a6-4684-884f-c89cf08d9eab.woff") format("woff"),url("Fonts/8d4b5f6b-7738-4170-84d5-3d55c84a1bb7.ttf") format("truetype"),url("Fonts/ee02f165-391e-437a-ab19-418e89339fed.svg#ee02f165-391e-437a-ab19-418e89339fed") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
    font-family:"Avenir Next Rounded W05_n5";
    src:url("Fonts/54f4b0d1-7615-46d1-b30e-973e3a00b886.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Avenir Next Rounded W05";
    src:url("Fonts/54f4b0d1-7615-46d1-b30e-973e3a00b886.eot?#iefix");
    src:url("Fonts/54f4b0d1-7615-46d1-b30e-973e3a00b886.eot?#iefix") format("eot"),url("Fonts/375e62d8-708e-4b0e-9f22-adb9d821ad94.woff2") format("woff2"),url("Fonts/1f3aa8b9-86e5-4d4a-b93f-63ae7d49902b.woff") format("woff"),url("Fonts/8038d8d6-95fb-4325-8723-4a5032c913be.ttf") format("truetype"),url("Fonts/329a68b0-bbb3-4511-9c3e-bac13adf4d9c.svg#329a68b0-bbb3-4511-9c3e-bac13adf4d9c") format("svg");
font-weight: 500;
font-style: normal;
}
@font-face{
    font-family:"Avenir Next Rounded W05_n5";
    src:url("Fonts/e0b9462c-30fb-4a51-8546-db6d780f0b73.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Avenir Next Rounded W05";
    src:url("Fonts/e0b9462c-30fb-4a51-8546-db6d780f0b73.eot?#iefix");
    src:url("Fonts/e0b9462c-30fb-4a51-8546-db6d780f0b73.eot?#iefix") format("eot"),url("Fonts/cdd22017-4896-44c1-824e-94d6ec4702ba.woff2") format("woff2"),url("Fonts/9b68c020-199e-4ea2-b76d-9eba5a98ce1d.woff") format("woff"),url("Fonts/753853ef-c71c-4a9d-97dd-361d7826173d.ttf") format("truetype"),url("Fonts/6a1f3db4-426e-4504-8405-baea8d50594f.svg#6a1f3db4-426e-4504-8405-baea8d50594f") format("svg");
font-weight: 500;
font-style: normal;
}
@font-face{
    font-family:"Avenir Next Rounded W05_n7";
    src:url("Fonts/e0849adc-824b-4742-a0fa-0abba2733c63.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Avenir Next Rounded W05";
    src:url("Fonts/e0849adc-824b-4742-a0fa-0abba2733c63.eot?#iefix");
    src:url("Fonts/e0849adc-824b-4742-a0fa-0abba2733c63.eot?#iefix") format("eot"),url("Fonts/40587276-0483-48b7-b40a-df2818a83369.woff2") format("woff2"),url("Fonts/51b659fc-20ef-4140-888d-94305b3806ce.woff") format("woff"),url("Fonts/0336143c-287b-4c96-92fe-6deba471ea3d.ttf") format("truetype"),url("Fonts/37fb9774-d0af-4231-aeb3-a2afd49b369d.svg#37fb9774-d0af-4231-aeb3-a2afd49b369d") format("svg");
font-weight: 700;
font-style: normal;
}
.disableClick{ 
	pointer-events: none;
}
.struct{ 
	border: 1px dashed red;
}
.txt-shd, .slide h1{ 
	text-shadow:5px 6px 2px rgba(0,0,0,0.3);
}

.slide h1{ 
	    font-size: 3.8vw;
    letter-spacing: -0.075vw;
}
.slide-container{ 
	position: relative;
	height:100%; 
	width:100%;
}
.slide{ 
	position: relative; 
	z-index: 1;
	height: 100%; 
	width: 100%; 
}
.page-title{ 
	position:absolute;
	top: 6.75%; 
	left: 0; 
	right: 0; 
	margin: 0 auto;
	padding-top:0;
}
#welcome #text-box h1, #text-box-2 h1,#growing-speech-bubble p, #growing-speech-bubble-text p, #welcome #text-box p{
  text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
   color: #c52974;	
   letter-spacing: -0.075vw;
}
.option-screen-shadows{ 
	top: 0;
	left: 1%;
	width: 100%;
	height: 100%;
	z-index: 1;
}
/* INPUT POSITIONING
------------------------- */ 
.photo-options[data-page='0'],  
.photo-options[data-page='7'], 
#page-0, 
#page-7{ 
    position: absolute;
    top: 19%;
    left: 38.5%;
    width: 23.75vw;
    height: 37vw;
}
.photo-options[data-page='1'],
.photo-options[data-page='3'],
.photo-options[data-page='5'],
#page-1,
#page-3,
#page-5{ 
    position: absolute;
    top: 19%;
    left: 26.25%;
    width: 23vw;
    height: 36vw;
}
.photo-options[data-page='2'], 
.photo-options[data-page='4'], 
.photo-options[data-page='6'],
#page-2, 
#page-4, 
#page-6{ 
    position: absolute;
    top: 19%;
    left: 49.65%;
    width: 23vw;
    height: 36vw;	
}
/* GLOBALS
------------------------- */
.hidden{ 
	display: none;
}
.stay-hidden{ 
	display: none !important;
}
.visible{ 
	display: block;
}
.bg-img{
	position: absolute;
	background-repeat: no-repeat;
	-webkit-background-size: cover;         
     -moz-background-size: cover;             
       -o-background-size: cover;             
          background-size: cover;	
}
#preload{ 
	width: 1px; 
	height: 1px; 
	position: absolute;
	top: -10px;
	left: -10px;
}
#preload img{ 
	width: 100%;
}
.option-wrap{ 
	position: absolute;
	width: 25vw;
	height: 100%;
	top: 0;
	left: 66%;
	z-index: 3;
}
.slide-title{ 
	position: absolute;
	top: 3%;
	left: -0.55%;
	width: 25vw;

}
.slide-title h1{
	text-align: center; 
	font-size: 3.8vw;
	padding-top: 0;
}
h1{ 
	font-family: 'Avenir Next Rounded W05', Helvetica, Arial, sans-serif;
    color: #ffffff;
    padding-top: 21.5%;
    font-size: 6vw;
    letter-spacing: 0.1vw;
    font-weight: 700;
}
h2{
	font-family: 'Avenir Next Rounded W05',Helvetica, Arial, sans-serif;
	font-size: 6vw; 
	color: #ffffff;
	letter-spacing: 0.10vw;
	margin-bottom: 4%;
	font-weight: 700;
}
p{ 
    font-family: 'Avenir Next Rounded W05', Helvetica, Arial, sans-serif;
    font-size: 2vw;
    color: #ffffff;
    letter-spacing: 0.10vw;
    line-height: 2.8vw;
    font-weight: 500;
}
html, body {
	font-family: 'Avenir Next Rounded W05', Helvetica, Arial, sans-serif;
	font-size: 16px;
	height: 100%;
	overflow:hidden;
	text-align: center;
	font-weight: 500;
}
span.highlight{ 
	font-family: Helvetica, Arial, sans-serif;
	color: #930805;
}

a:hover {
  cursor: pointer;
}

#loading-text{ 
position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 100%
}
#loading-text img{
width: 100vw;
height: 100%;
}
#assets-loaded{ 
position: absolute;
bottom: -17%;
left: 0;
width: 100vw;
height: 7%;
overflow: hidden;
-webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
	    -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	  transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
#assets-not-loaded{ 
width: 100vw;
 }
#assets-not-loaded img{ 
	position: absolute;
	width: 100vw;
    bottom: -17%;
    left: 0%;
}
#assets-loaded img{ 
	position: absolute;
	width: 100vw;
    bottom: 0;
    left: 0%;
}
#loading-text{
  animation-name: pulse_animation;
	animation-duration: 4000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-transform: center;
	transform-origin: center;
}
@keyframes pulse_animation {
  0% { transform: scale(1); -webkit-transform: scale(1); }
  25% { transform: scale(1.1); -webkit-transform: scale(1.1); }
  50% { transform: scale(1); -webkit-transform: scale(1); }
  75% { transform: scale(1.1); -webkit-transform: scale(1.1); }
  100% { transform: scale(1); -webkit-transform: scale(1); }

}


/* STAGE
------------------------- */
#load-text{ 
	font-family: Helvetica, Arial, sans-serif;
    color: #fcdb68;
    text-shadow: 0 0 10px #000000;
    padding-top: 21.5%;
	margin-top:-10%;
	font-size: 6vw;
}
#load-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#load-screen .bar {
	position: relative;
	height: 20%;
	width: 100%;
	right: 110%;
	top: 45%;
	text-align: right;
	background: rgba(0,0,0,.6);
}
#load-screen .end-bar{ 
	position: relative;
	z-index: 0;
	right: -10%;
	border-top-right-radius: 20%;
	border-bottom-right-radius: 20%;
	width: 10%; 
	height: 100%;
	display: inline-block;
	background: rgba(0,0,0,.6);
}
#load-screen .bar img{ 
	display: inline-block;
	text-align: left;
	position: relative; 
	z-index: 10;
	width: 12vw;
	height: 100%;
	right: -15%;
}
.make-volume{
	position: absolute;
	z-index: 10;
	width: 12vw;
	height: 15%;
	top:0;
	left: 1.5%;
	font-size: 0;
	padding: 1%;
	background-repeat: none;
	background-position: center bottom;
	-webkit-background-size: cover;         
     -moz-background-size: cover;             
       -o-background-size: cover;             
          background-size: cover;
}
.make-volume img{ 
	width: 100%;
}
.make-volume .make-btn, 
.make-volume .volume-btn{ 
	display: inline-block;
	vertical-align: middle;
	margin: 0; 
}
.make-btn {
	width: 55%;
    position: relative;
    z-index: 999;
    cursor: pointer;
	left: 0;
	padding-top: 10%;
	padding-right: 3%;
}
.volume-btn {
	width: 30%;
	position: relative;
    cursor: pointer;
    z-index: 999;
    padding-right: 10%;
    padding-top: 5%;
}
.volume-btn #play{
	z-index: 1000;
  display: none;
} 
.volume-btn #pause{ 
	z-index: 999;
}
/* PHOTO UPLOAD CONTROLS
--------------------------- */
#upload-screen.popup{width: 27%; height: 47%; top: 15%; left: 0%; right: 0%; margin: 0 auto; background-color:transparent; padding:0; transform: scale(0);  -webkit-transition: transform 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550); transition: transform 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);}
#upload-screen a.close{color:#ffffff; background-color: #d2d13a; width:5.05vw; line-height:3.45vw;border-radius: 100%; padding-bottom: 3.1%; z-index:30; top:-2.76vw;left:24.75vw; transform: none; -webkit-transform: none;}
#upload-screen.popup.open{transform: scale(1);}
/*
#upload-window{ transform: scale(0);     -webkit-transition: transform 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550); transition: transform 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);}
#upload-screen.open  #upload-window{ transform: scale(1);}
*/
#rotate-clockwise a, #rotate-counter-clockwise a{top: 34%; width: 5vw; height: 5vw;}
#rotate-clockwise a{left: 12%;} 
#rotate-clockwise a.disabled{pointer-events: none; opacity: 0;} 
#rotate-clockwise a.hoverzoom:hover{transform: scale(1.1) rotate(90deg);}
#rotate-counter-clockwise a{left: 74%;}
#rotate-clockwise a{top: 23.5vw; left: 0; right: 0; margin:0 auto; z-index:50;} 
#upload-frame, #upload-preview {top:0;left: 0%; right:0; margin: 0 auto; width: 27vw; height: 29vw; z-index:10;}
#upload-frame p{margin-top:90%;}
#upload-frame{background-image: url("../img/upload-screen/frame-0.png");}
.fileToUpload{display: block; opacity:0; z-index: 20;top:1.25vw; left: 0; right: 0; margin: 0 auto; width: 24vw; height: 22.25vw;cursor: pointer;}
#preview-photo-container img, #preview-photo-container .overlay{display: block; position:absolute; top:0.25vw; left: 0; right: 0; margin: 0 auto; height: 24vw; width: 23.4vw;}

#preview-photo {z-index: 6; opacity: 1.0; transition:opacity 0.5s ease-in-out;}
#overlay{z-index: 5;}
/* input.fileToUpload:hover ~ #preview-photo-container img#preview-photo{opacity: 0.65;} */
#upload-modal, #restart-modal, #download-modal{  
	z-index:1000;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.8)}
#upload-modal.open{display:block;}
			
/* PREVIOUS & NEXT STEPS
--------------------------- */
div#step-forward,
div#step-backward
{
    width: 6vw;
    height: 11%;
	position: absolute;
	top: 45%;
	z-index: 100;
	cursor:pointer;
	background-repeat: no-repeat;
	-webkit-background-size: cover;         
	    -moz-background-size: cover;             
		    -o-background-size: cover;             
	    	  background-size: cover; 


}
div#step-backward { 
	left:1.75%;
}
div#step-forward { 
	left:92%;
}

div#step-forward a, 
div#step-backward a{ 
/* 	border: 1px dashed red; */
	height: 6vw;
	width: 6vw;
    z-index: 100;
    display: block;
    position: absolute;
}
div#step-forward a{ 
    top: 0;
    left: 0;
} 
div#step-backward a{ 
	top: 0;
	left: 0;
}

div#step-forward > .nav-icon, 
div#step-backward > .nav-icon{ 
    height: 6vw;
    width: 6vw;
	z-index: 2;
	
  -webkit-transition: transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
div#step-forward.hover .nav-icon{
	  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
div#step-backward.hover .nav-icon{ 
	  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* WELCOME SLIDE 
------------------------- */ 
div#start-button{ 
    position: absolute;
    z-index: 5;
    width: 24vw;
    top: 52%;
    margin: 0 auto;
    right: 0; 
    left: 0;
    cursor: pointer;
}
div#start-button img{ 
	width: 100%; 
}
#start-button #text{ 
	position: absolute; 
	z-index: 1;
	display: block;
	color: #ffffff;
	font-size: 3.5vw;
	letter-spacing: 0.1vw;
	font-family: 'Avenir Next Rounded W05', Helvetica, Arial, sans-serif; 
	font-weight: 700;
	margin: 52.5% auto 0 auto;
    left: 0;
    right: 0;
}

#fern-1{
    width: 15vw;
    height: 20vw;
    top: 73%;
    left: -4.5%;
}
#dj-tr-1, 
#dj-tr-1-shd{
width: 24vw;
    height: 46vw;
    top: 17%;
    left: 1%;
}
#poppy-1{
    width: 36.75vw;
    height: 55vw;
    top: 12.75%;
    left: 6.85%;
}
#glitter-tr-1,
#glitter-tr-1-shd{
    width: 25vw;
    height: 57vw;
    top: 0%;
    left: 64.5%;
}

#target-promo{ 
    width: 22vw;
    height: 28.5vw;
    top: 55%;
    left: 78%;
    pointer-events: none;
}
#target-promo #text-1{
position: absolute;
    z-index: 1;
    display: block;
    color: #ffffff;
    text-shadow: 1px 3px 4px #000000;
    font-size: 2.25vw;
    letter-spacing: 0.1vw;
    font-family: 'Avenir Next Rounded W05', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 43.5% auto 0 auto;
    left: 0;
    right: 0;
    line-height: 2.5vw;
}
#target-promo img{
    position: absolute;
    width: 33%;
    top: 62%;
    margin: 0 auto;
    left: 0;
    right: 0;
}
#trolls-logo{ 
width: 28vw;
    height: 13.5vw;
    top: 4%;
    left: 34.5%;
}
#project-title{ 
    width: 30vw;
    height: 11vw;
    top: 30%;
    left: 35.5%;
	
}
/* WELCOME SLIDE 
------------------------- */ 
#welcome #text-box{ 
	width: 38vw;
	height: 68%;
	top: 16.85%;
	left: 51%;
	z-index: 0; 
}
#welcome #text-box h1{
	font-size: 3.35vw;
	padding-top: 23.7%;
}
#welcome #text-box p{ 
    position: relative;
    width: 31vw;
    text-align: center;
    margin: 7% auto 0 auto;
    font-size: 2.05vw;
    line-height: 3vw;
    font-weight: 700;
}
.heart-1{ 
	width: 7vw;
    left: 14%;
    top: 66%;
    position: absolute;
}
.heart-2{ 
    width: 5vw;
    left: 36%;
    top: 69%;
    position: absolute;
}
.heart-3{ 
    width: 4.85vw;
    left: 72%;
    top: 68.5%;
    position: absolute;
}
.heart-4{ 
width: 4.55vw;
    left: 72%;
    top: 33.5%;
    position: absolute;}
#fern-2{ 
	width: 20vw;
    height: 30vw;
    top: 64%;
    left: -4%;
}
#fern-3{ 
    width: 13vw;
    height: 13vw;
    top: 86%;
    left: 75%;
}
#fern-4{ 
    width: 20vw;
    height: 26vw;
    top: 67%;
    left: 85%; 
}
#poppy-2{ 
    width: 59vw;
    height: 77vw;
    top: -40%;
    left: -9%;	
}
/* OPTION SCREENS 
------------------------------------ */
.option-screens.cover #cover, 
.option-screens.cover #cover-shadow,
.option-screens.cover #highlight-cover{
	display:block;
}
.option-screens.cover #highlight-pg-left, 
.option-screens.cover #highlight-pg-right{ 
	display: none;
}
.option-screens.full-spread #full-spread, 
.option-screens.full-spread #highlight-pg-left 
{
	display:block;
}
.option-screens.full-spread #highlight-pg-left.hidden{ 
	display:none;
}
.option-screens.full-spread #cover{ 
	display: none;
}

#cover{ 
    width: 24vw;
    height: 37vw;
    top: 19%;
    left: 38.5%;
}
#cover-shadow{ 
	    width: 53vw;
    height: 38vw;
    top: 16%;
    left: 22%; 
}
#highlight-cover{
width: 24.75vw;
    height: 37.5vw;
    top: 18.5%;
    left: 38%;
}
#highlight-left{
    width: 24.95vw;
    height: 38vw;
    top: 18%;
    left: 26.85%;
}
#highlight-right{
    width: 24.95vw;
    height: 38vw;
    top: 18%;
    left: 46.85%;
}
.highlight{ 
	/* opacity: 0;  */
	transition: opacity 0.35s ease-in-out;
}
#highlight-pg-left{ 
	width: 24vw;
    height: 36.5vw;
    top: 18.45%;
    left: 25.75%;
}
#highlight-pg-right{
	width: 24vw;
    height: 36.5vw;
    top: 18.45%;
    left: 49.15%;
}
#full-spread{
	    width: 65vw;
    height: 42vw;
    top: 14.5%;
    left: 17%;
}
#theme-box{ 
width: 76vw;
    height: 8.76vw;
    top: 85%;
    left: 12%;
}
#page-header{ 
    width: 45vw;
    height: 9.25vw;
    top: 2%;
    left: 26.5%;
}
#poppy-3{ 
    width: 27vw;
    height: 45.25vw;
    top: 11%;
    left: -2%;
}
#glitter-tr-2{
width: 26vw;
    height: 56vw;
    top: 0%;
    left: 75.5%;
}
#instructional-1, #instructional-3{ 
 width: 25.75vw;
    height: 29vw;

    top: 18.5%;
    left: 12%;	
}
#instructional-2, #instructional-4{
width: 25.75vw;
    height: 29vw;

    top: 18%;
    left: 63%;	
}
.instructionals p{
	text-shadow:2px 3px 3px rgba(0,0,0,0.6);
	line-height: 2.2vw;
	letter-spacing: 0;
	padding-top:20%;
}
#instructional-1 p, #instructional-3 p{ 
padding-top: 17%;
    width: 19vw;
    margin-left: 4vw;
        font-size: 1.75vw;
}
#instructional-3 p{ 
	padding-top: 15.5%;
}
#instructional-2 p{ 
	padding-top: 21%;
    width: 19vw;
    margin: 0 auto;
        font-size: 1.75vw;	
}
.inputs a.hover-effect{ 
	display:block;
	position: absolute;
}
input.photo_0,
a.photo_0,
div.photo_0, 
div.photo_0b{ 
	top: 33%;
    left: 29%;
    width: 11.5vw;
    height: 11.5vw;
    transform-origin: center;
    transform: rotate(7deg);
}

/*
input.photo_1, 
div.photo_1{ 
	top: 33%;
    left: 29%;
    width: 11.5vw;
    height: 11.5vw;
    transform-origin: center;
    transform: rotate(7deg);
    
 }
*/
input.photo_2,
a.photo_2,
div.photo_2{ 
	top: 47%;
    left: 40%;
    width: 12.5vw;
    height: 11.8vw;
    transform-origin: center;
    transform: rotate(10deg);

}
input.photo_1,
a.photo_1, 
div.photo_1{ 
    top: 8%;
    left: 14%;
    width: 12vw;
    height: 11vw;
    transform-origin: center;
    transform: rotate(-6deg);
}
input.photo_3,
a.photo_3, 
div.photo_3{ 
	top: 23%;
    left: 22%;
    width: 17vw;
    height: 16vw;
    transform-origin: center;
    transform: rotate(10.2deg);
}
input.photo_4, 
a.photo_4,
div.photo_4{ 
    top: 8%;
    left: -1%;
    width: 9vw;
    height: 8vw;
    transform: rotate(-10deg);
    transform-origin: center;
}
input.photo_5, 
a.photo_5,
div.photo_5{ 
    top: 16%;
    left: 46%;
    width: 12vw;
    height: 11vw;
    transform: rotate(10deg);
    transform-origin: center;
}
input.photo_6, 
a.photo_6,
div.photo_6{ 
	top: 61%;
    left: 0%;
    width: 9vw;
    height: 8vw;
    transform: rotate(-12deg);
    transform-origin: center;

}
input.photo_7,
a.photo_7,
div.photo_7{
    top: 8%;
    left: 13%;
    width: 11vw;
    height: 10vw;
    transform: rotate(-3deg);
    transform-origin: center;
}
input.photo_8, 
a.photo_8,
div.photo_8{ 
    top: 46%;
    left: 46%;
    width: 12vw;
    height: 10.5vw;
    transform: rotate(7.5deg);
    transform-origin: center;
}

input.photo_9,
a.photo_9,
div.photo_9{ 
    top: 11%;
    left: 15%;
    width: 14.5vw;
    height: 13vw;
    transform: rotate(-7deg);
    transform-origin: center;
}
input.photo_10,
a.photo_10,
div.photo_10{ 
    top: 9%;
    left: 10%;
    width: 9vw;
    height: 8.3vw;
    transform: rotate(-9deg);
    transform-origin: center;
}
input.photo_11,
a.photo_11,
div.photo_11{ 
	top: 18%;
    left: 56%;
    width: 10vw;
    height: 9vw;
    transform: rotate(8deg);
    transform-origin: center;
}
input.photo_12,
a.photo_12,
div.photo_12{ 
    top: 60%;
    left: 13%;
    width: 12vw;
    height: 10.5vw;
    transform: rotate(-10deg);
    transform-origin: center;
 }
 input.photo_13,
 a.photo_13,
 div.photo_13{ 
    display: block;
    height: 7.5vw;
    top: 14%;
    left: 23%;
    width: 8.2vw;
    transform-origin: center;
    transform: rotate(-7deg);
 }
.theme-options{ 
    z-index: 20;
    position: absolute;
    width: 63.45vw;
    height: 9vw;
    top: 80.5%;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.theme-option{ 
    float: left;
    width: 10.25vw;
    height: 10.25vw;
    top: 0;
    margin: 0 1.5vw;
}
.theme-option:first-child{
	margin-left: 0;
}
.theme-option:last-child{
	margin-right:0;
}
.theme-option .bg-img{ 
	position: relative;
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0;
}
.theme-hover{ 
	top: -10.2575vw !important;
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
}
.theme-hover:hover{ 
	opacity:1;
}
.theme-option.active .theme-hover{
	opacity: 1;
}

/* FINAL SCREEN 
------------------------ */ 
#text-box-2{
	width: 41.25vw;
    height: 74%;
    top: 3.85%;
    left: 57.5%;
	z-index: 0; 
}
#text-box-2 h1{ 
	font-size:3.5vw;
}
#poppy-4{
    width: 36.25vw;
    height: 56vw;
    top: 27%;
    left: -3%;
}
#preview-scrapbook{
    width: 33.75vw;
    height: 43.75vw;
    top: 6%;
    left: 22%;	
}
#preview-scrapbook img{
transform-origin: center;
    transform: rotate(-16deg);
    width: 24.4vw;
    height: 36.5vw;
    margin-top: 9.5%;
    margin-left: -3%;

}
/* Growing Speech Bubble */
#growing-speech-bubble,#growing-speech-bubble-text{ 
	position: absolute;
	top: 85%;
	left: 26%;
	font-size: 0;
}
#growing-speech-bubble p, #growing-speech-bubble-text p{ 
    font-size: 2.25vw;
    position: absolute;
    top: 30.25%;
    left: 13%;
	font-weight: 600;
}

#growing-speech-bubble .left,
#growing-speech-bubble .right{ 
	float: left;
	vertical-align: middle;
	display: inline-block;
	height: 7vw;
	background-repeat: no-repeat;
	-webkit-background-size: cover;         
     -moz-background-size: cover;             
       -o-background-size: cover;             
          background-size: cover;	
}

#growing-speech-bubble .center{ 
	vertical-align: middle;
	height: 7vw;
	background-repeat: repeat-x;
	background-position: top center;
   -webkit-background-size: 40px 100%;        
     -moz-background-size: 40px 100%;             
       -o-background-size: 40px 100%;            
          background-size: 40px 100%;
          float: left;
}
#growing-speech-bubble .left{ 
	width: 7.5vw;
	margin-right: -2px;
}

#growing-speech-bubble .right{ 
	width: 6vw;
	padding-right: 1px;
	margin-left: -2px;
}

#growing-speech-bubble .right{ 
	width: 6vw;
}

#growing-speech-bubble .collapsed.center{
	width: 0vw;
}

#growing-speech-bubble .expanded.center{
	width: 56vw;
} 
#growing-speech-bubble-text{ 
	height: 7vw;
	width: 70vw;
}
#start-button.hoverzoom:hover{ 
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;

}
#final-step-download.hoverzoom:hover,
#final-step-print.hoverzoom:hover,
#return-to-start.hoverzoom:hover{ 
    -webkit-transform: scale(1.05) !important;
    transform: scale(1.05) !important;
}
#final-step-download{ 
    width: 15.35vw;
    height: 3.98vw;
    top: 52%;
    left: 12%;

}
#final-step-print{
    width: 15.35vw;
    height: 3.98vw;
    top: 38%;
    left: 31%;
}
#return-to-start{
width: 15.35vw;
    height: 3.98vw;
    top: 52%;
    left: 51%;

}
/* REUSABLE
------------------------ */ 
/* ReUSE THIS CODE ALWAYS */
.stage-bg{ 
	position: absolute;
	margin: 0 auto;
	width: 1600px;
	height: 900px;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;         
     -moz-background-size: cover;             
       -o-background-size: cover;             
          background-size: cover;
}

#final-step-loading > .spinner{ 
	top: -100%;
    width: 100%;
    left: 15%;
}

.spinner {
	display: none;
	position: absolute;
	z-index: 100;
	top: 28%;
    left: 23%;
    width: 28%;
	height: auto;
	pointer-events: none;
	
	-webkit-animation-name: spin;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: reverse;
	-moz-animation-name: spin;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-moz-animation-direction: reverse;
	-ms-animation-name: spin;
	-ms-animation-duration: 2s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-ms-animation-direction: reverse;
	animation-name: spin;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
}

@-webkit-keyframes spin
{
  from{-webkit-transform:rotate(360deg);}
  to{-webkit-transform:rotate(0deg);}
}
@-moz-keyframes spin
{
  from{-moz-transform:rotate(360deg);}
  to{-moz-transform:rotate(0deg);}
}
@-ms-keyframes spin
{
  from{-ms-transform:rotate(360deg);}
  to{-ms-transform:rotate(0deg);}
}
@keyframes spin
{
  from{transform:rotate(360deg);}
  to{transform:rotate(0deg);}
}

#stage {
	position: relative;
	margin: 0 auto;
	width: 1600px;
	height: 900px;
	overflow: hidden;
	background-image: url("../img/stage-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;         
     -moz-background-size: cover;             
       -o-background-size: cover;             
          background-size: cover;
}
  #stage.loading .spinner {
    display: block;
  }
  #stage.loading #asset-display-zone{
    opacity: .5;
  }

#mobile{
  height:100%;
  background-repeat: no-repeat;
  background-position: center;
	-webkit-background-size: cover;         
     -moz-background-size: cover;             
       -o-background-size: cover;             
          background-size: cover;
            display:none;
  position: relative;
  z-index: 999999;
  background-image: url("../img/rotate-screen.jpg");
}
@media only screen and (max-device-width : 1335px) and (orientation : portrait) {
  #mobile {
    display: block;
  }
}

img.preview-image{ 
	width: 100%;
}
#poster-preview-enlarge, 
#coloring-preview-enlarge{
	z-index: 1001; 
	opacity: 0;
	pointer-events: none;
	width: 35%;
	position: absolute; 
	top: 10%; 
	left: 30%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: transform 0.575s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	transition: transform 0.575s cubic-bezier(0.680, -0.550, 0.265, 1.550);
 }
#poster-preview-enlarge.open, 
#coloring-preview-enlarge.open{ 
	opacity: 1;
	pointer-events: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
}
#poster-preview-enlarge .close, 
#coloring-preview-enlarge .close{ 
	position: absolute;
    right: -5%;
    top: -3%;
    background: #842959;
    color: #ffffff;
    padding: 0.5vw 1.2vw 0.59vw 1.2vw;
    border-radius: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-family: 'Avenir Next Rounded W05';
    font-size: 3vw;
}
#coloring-preview-enlarge .coloring-page-stamp{ 
    width: 9.2vw;
    height: 10vw;
    z-index: 4;
    top: -7%;
    position: absolute;
    left: -7%;
    background-image: url("../img/poster-preview/coloring-page-stamp.png");
}
#restart-yes,
#restart-no{ 
	padding: 2vw 5vw;
    border-radius: 1.5vw;
	display: inline-block;
	text-transform: uppercase;
	color: #ffffff;
	background: #a64088;
	font-size: 2vw;
	letter-spacing: 0.05vw;
	text-align: center;

}
#restart{ 
	width: 60.2%;
	    left: 0;
    top: 30%;
    right: 0;
    margin: 0 auto;
}
#restart-yes{ 
	margin-right: 5%;
    margin-left: 7%;
    margin-top: 3%;
}
#restart-yes:hover, 
#restart-no:hover{ 
	background: #842959;
}

div.popup {
  position: absolute;
  top: 15%;
  left: -100%;
  width: 80%;
  background: #fff;
  border-radius: 16px;
  z-index: 1001;
  padding: 2% 2% 3% 2%;
  -webkit-transform: scale(0);
  transform: scale(0);
  font-family: 'LondrinaBook-Regular', Helvetica, Arial, sans-serif;
}
  div.popup.open {
    left: 8%;
    -webkit-transform: scale(1);
    transform: scale(1);
      -webkit-transition: transform 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: transform 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  }
  div.popup a.close {
    display: block;
    position: absolute;
    top: 1.3vw;
    right: 1.3vw;
    font-family: 'Avenir Next Rounded W05';
    font-size: 3vw;
    color: #842959;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    line-height: 0px;
    padding: .7vw 0px 1vw 0px;
    z-index: 2;
  }
    div.popup a.close:hover {
      opacity: .8;
    }
  div.popup .image {
    float: left;
    width: 40%;
    padding-top: 5.4vw;
  }
    div.popup .image img {
      width: 100%;
      height: auto;
    }
  div.popup .text {
    float: right;
    width: 55%;
    position: relative;
    font-family: 'Avenir Next Rounded W05',Helvetica, Arial, sans-serif;
    text-align: left;
  }
    div.popup strong {
      font-family: 'Avenir Next Rounded W05',Helvetica, Arial, sans-serif;
    }
    div.popup .text h6 {
      font-size: 2.8vw;
      margin-top: 1vw;
      margin-bottom: 1vw;
      color: #842959;
      font-family: 'Avenir Next Rounded W05',Helvetica, Arial, sans-serif;
    }
    div.popup .text p {
      font-size: 1.5vw;
      line-height: 1.4;
      margin-bottom: .8vw;
      padding-left: 4vw;
      color: #a64088;
    }
    div.popup .text .spacer {
      height: .8vw;
    }
  div.popup .bubble {
    position: absolute;
    font-size: 1.7vw;
    line-height: 2.8vw;
    font-family: 'Avenir Next Rounded W05',Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fff;
    background: #a64088;
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 1.5vw;
    margin-top: .6vw;
  }
    div.popup .bubble > div {
      position: relative;
      top: -2px;
      background: #da5596;
      width: 2.8vw;
      height: 2.8vw;
      border-radius: 1.5vw;
    }

div#shade {
  position: fixed;
  top: 0%;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
  div#shade.open {
    left: 0;
    opacity: .9;
  }

div#preload {
  position: absolute;
  top: 0;
  left: 0;
}
  div#preload img, div#preload audio {
    width: 1; 
    height: 1;
    opacity: .01;
    position: absolute;
    left: -9999px;
  }

@media (min-width: 680px){ 
	#growing-speech-bubble .right{ 
		padding-right: 3px;
	}	
}
@media (min-width: 1000px){ 
	#growing-speech-bubble .right{ 
		padding-right: 4px;
	}	
}
@media (min-width: 1200px){ 
	#growing-speech-bubble .right{ 
		padding-right: 5px;
	}	
}